

@{
    Layout = null;
}
<link href="~/layui/css/layui.css" rel="stylesheet" />
<script src="~/layui/layui.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    var uploadFiles;
    var upnum = 0;//记录上传后返回的数量
    var upflag = true;//判断文件是否上传完
    layui.use(['upload', 'form', 'table'], function () {
        var $ = layui.jquery;
        var upload = layui.upload;
        var form = layui.form;
        var table = layui.table;
        var tableIns = table.render({
            elem: '#userTable',   //渲染的目标对象
            url: '/Employees/Load', //数据接口
            toolbar: "#userToolBar",   //表格的工具条
            page: false,  //是否启用分页
            cols: [[   //列表数据
                { field: 'uid', title: '船员编码', width: 220, sort: true },
                { field: 'name', title: '船员名称', width: 220, sort: true, align: 'center' },
                { field: 'job', title: '工作内容', align: 'center', width: 220 },
                {
                    field: 'employeePictures', title: '船员图片', align: 'center', width: 320, templet: function (d) {
                        var pics = d.employeePictures;
                        var html = "";
                        if (pics.length > 0) {
                            for (var j = 0; j < pics.length; j++) {
                                html += '<img style="width:50px;height:30px" ondblclick="showBigImage(this)" src="data:image/jpeg;base64,' + pics[j].picture + '"/>&nbsp;&nbsp;&nbsp'
                            }
                        }
                        return html;
                    }
                },
                { fixed: 'right', title: '操作', toolbar: '#userBar', width: 220, align: 'center' }
            ]],
            done: function (res) {
                if (res.isSet == true) {
                    $("#userToolBar").hide();
                }
                // 隐藏列
                $(".layui-table-tool-self").css("display", "none");
            }
        });

        //监听头部工具栏事件
        table.on("toolbar(userTable)", function (obj) {
            switch (obj.event) {
                case 'add':
                    mainIndex = layer.open({
                        type: 1,
                        title: '添加船员',
                        content: $("#divAddOrUpdate"),
                        area: ['800px', '600px'],
                        success: function (index) {
                            $("#hidId").val("");
                            $("#hidPicIds").val("");
                            clearFile();
                            //清空表单数据
                            $("#dataFrm")[0].reset();
                            $('#demo2').html("");
                            url = "employees/addEmployees.action";
                        }
                    });
                    break;
            };
        });
        //监听工具条
        table.on('tool(userTable)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    obj.del();
                    layer.close(index);
                    $.ajax({
                        url: "/Employees/Delete",
                        type: "get",
                        dataType: "json",
                        data: { id: data.id },
                        contentType: "application/json;chartset=utf-8",
                        success: function (res) {
                            if (res.code == 1) {
                                layer.msg(res.msg, { icon: 2 });
                            } else {
                                tableIns.reload();
                                layer.msg("数据删除成功", { icon: 1 });
                            }
                        }
                    });
                });
            } else if (obj.event === 'edit') {
                mainIndex = layer.open({
                    type: 1,
                    title: '修改用户',
                    content: $("#divAddOrUpdate"),
                    area: ['800px', '600px'],
                    success: function (index) {
                        form.val("dataFrm", data);
                        $("#hidPicIds").val("");
                        clearFile();
                        var pics = data.employeePictures;
                        var html = "";
                        var picIds = "";
                        if (pics.length > 0) {
                            for (var j = 0; j < pics.length; j++) {
                                html += '<img style="width:200px;height:180px" ondblclick="showBigImage(this)" src="data:image/jpeg;base64,' + pics[j].picture + '"/>&nbsp;&nbsp;&nbsp'
                                if (j == 0) {
                                    picIds = pics[j].id;
                                } else {
                                    picIds += "," + pics[j].id;
                                }
                            }
                        }
                        $("#hidPicIds").val(picIds);
                        $('#demo2').html(html);
                        url = "employees/updateEmployees.action";
                    },
                    yes: function () {
                        layer.closeAll();
                    }
                });
            }
        });
        //多图片上传
        upload.render({
            elem: '#test2',
            url: '/Employees/UpFile/',
            acceptMime: 'image/*',
            ext: 'jpg|png|gif|bmp|jpeg',
            size: 300,//限制上传大小 单位KB
            multiple: true,
            choose: function (obj) {
                uploadFiles = obj.pushFile();
                var len = getJsonLength(uploadFiles);
                var ids = $("#hidPicIds").val();
                var frmLeng = 0;//查询已显示的图片
                if (ids != "") {
                    frmLeng = ids.split(',').length;
                }
                if (parseInt(len) + parseInt(frmLeng) > 3) {
                    layer.msg("上传的图片不能大于3张", { icon: 2 });
                    clearFile();
                    return false;
                } else {
                    obj.preview(function (index, file, result) {
                        $('#demo2').append('<img width="200px" height="180px" src="' + result + '" name="image" alt="' + file.name + '" class="form-imgage">&nbsp;&nbsp;&nbsp')
                    });
                }
                upflag = false;//正在上传
            },
            before: function (obj) {
                //预读本地文件示例，不支持ie8
                //obj.preview(function (index, file, result) {
                //    $('#demo2').append('<img width="200px" height="300px" src="' + result + '" name="image" alt="' + file.name + '" class="form-imgage">&nbsp;&nbsp;&nbsp')
                //});
            },
            done: function (res) {
                upnum++;
                if (res.code == 0) {
                    var ids = $("#hidPicIds").val();
                    if (ids == "") {
                        ids = res.data
                    } else {
                        ids += "," + res.data;
                    }
                    $("#hidPicIds").val(ids);
                }
                var len = getJsonLength(uploadFiles);
                if (upnum == len) {
                    upflag = true
                }
                //上传完毕
            }
        });
        //表单提交
        form.on("submit(doSubmit)", function (frm) {
            if (!upflag) {
                layer.msg("别着急啊！图片还未上传完", { icon: 2 });
                return false;
            }
            var data = {
                id: frm.field.id,
                name: frm.field.name,
                job: frm.field.job,
                picIds: frm.field.picIds
            };
            $.ajax({
                url: "/Employees/Save",
                data: data,
                type: "get",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: function (res) {
                    if (res.code == 0) {
                        layer.msg("保存成功", { icon: 1 });
                        layer.closeAll();
                        tableIns.reload();
                    } else {
                        layer.msg(res.msg, { icon: 2 });
                    }
                }
            });
            return false;
        });
        //删除图片

    });
    function DelPic() {
        layer.confirm("确定要全部清空吗？", {
            icon: 3,
            btn: ["确定", "取消"],
            yes: function (index) {
                $.ajax({
                    url: "/Employees/DeleteImg/",
                    success: function (res) {
                        if (res.code == 0) {
                            $("#demo2").html("");
                            $("#hidPicIds").val("");
                            clearFile();
                            layer.close(index);
                        } else {
                            layer.msg(res.msg, { icon: 2 });
                        }
                    }
                });

            }
        });
    }
    //清空上传的图片
    function clearFile() {
        for (let x in uploadFiles) {
            delete uploadFiles[x];
        }
        upnum = 0;
    }
    //获取上传数量
    function getJsonLength(jsonData) {
        var jsonLength = 0;
        for (var item in jsonData) {
            jsonLength++;
        }
        return jsonLength;
    }
    function showBigImage(e) {
        layui.use('layer', function () { //独立版的layer无需执行这一句
            var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句
            var x = document.documentElement.clientWidth / 6;
            var y = document.documentElement.clientHeight / 6;
            var windowW = 960;
            var windowH = 540;
            layer.open({
                type: 1,
                offset: [y + "px", x + "px"],
                title: false,
                closeBtn: true,
                id: 'LAY_layuipro',
                shadeClose: true, //点击阴影关闭
                area: [windowW + 'px', windowH + 'px'], //宽高
                content: "<img style=\"position: absolute;width:100%;height:100%\" src=" + $(e).attr('src') + " />"
            });
        });
    }

</script>
<div style="margin:20px;width:96%">
    <h1>船员信息</h1>
    <hr />
    <table class="layui-table" id="userTable" lay-filter="userTable"></table>
    @if (ShipWeb.Tool.ManagerHelp.IsSet)
    {
    <div style="display: none;" id="userToolBar">
        <button type="button" class="layui-btn layui-btn-sm" lay-event="add">增加</button>
    </div>
    <div id="userBar" style="display: none;">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </div>
    }

</div>
<div id="divAddOrUpdate" style="display:none">
    <form class="layui-form" action="" id="dataFrm" lay-filter="dataFrm">
        <input name="id" id="hidId" type="hidden" class="layui-input" />
        <input id="hidPicIds" name="picIds" type="hidden" class="layui-input" />
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">船员名称：</label>
                <div class="layui-input-inline">
                    <input type="text" id="txtName" name="name" maxlength="20" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">工作内容：</label>
                <div class="layui-input-inline">
                    <input type="text" id="txtJob" name="job" maxlength="50" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <div class="layui-upload" style="width:710px;margin-left:30px">
                    <input type="hidden" name="ScrollingGraph" id="ScrollingGraph" />
                    <button class="layui-btn" id="test2" type="button">多图片上传</button>
                    <button type="button" class="layui-btn layui-btn-danger" onclick="DelPic()">删除</button>
                    <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                        预览图：
                        <div class="layui-upload-list" id="demo2" style="height:200px">
                        </div>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" id="divShow">
                <button type="submit" id="btnSave" class="layui-btn layui-btn-normal layui-btn-sm layui-icon layui-icon-release" lay-filter="doSubmit" lay-submit="">提交</button>
            </div>
        </div>
    </form>

</div>