

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <title>@ViewBag.Title</title>
    <link href="/css/main.css" rel="stylesheet" />
    <link href="/scripts/layui/css/layui.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <style>
        #ulLeft {
            list-style-type: none;
        }

            #ulLeft li {
                padding: 12px 0px;
                margin-left: 40px;
            }

                #ulLeft li a {
                    color: #8C8C8C;
                    font-size: 16px;
                }

        ul li a img {
            width: 28px;
            height: 28px;
            margin-right: 16px;
        }
    </style>
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header" style="background-color:#171F46;height:80px">
            <div style="margin-left:40px;padding-top:22px">
                <label id="lblTitle" style="font-family:STZhongsong;width:300px; font:normal;font-size:24px;color:#FFFFFF;">@ViewBag.ShipName</label>
                <div style="float:right;margin-right:20px">
                    @if (ViewBag.IsLandHome)
                    {
                        <a href="/Home/LandHome"><img style="width:24px;height:24px;" src="~/images/ship/close.png" /></a>
                    }
                    else
                    {
                        <div style="margin-top: 10px;">
                            <a href="/Login/SignOut" style="color:white;margin-right:50px">退出</a>
                        </div>
                    }
                </div>
            </div>

        </div>
        <div class="layui-side" style="background-color: #ffffff;margin-top: 20px;border-right:1px solid #EEEEEE">
            <div class="layui-side-scroll" style="height:90%">
                <ul id="ulLeft">
                    <li id="device">
                        @if (ViewBag.layuithis == "device")
                        {
                            <a href="#" style="font-weight:bold;color:#">
                                <img src="~/images/ship/device1.png" />设备
                            </a>
                        }
                        else
                        {
                            <a href="#">
                                <img src="~/images/ship/device.png" />设备
                            </a>
                        }
                    </li>

                    <li id="algorithm">
                        <a href="#">
                            <img src="~/images/ship/algorithm.png" />算法配置
                        </a>
                    </li>
                    <li id="crew">
                        <a href="#">
                            <img src="~/images/ship/crew.png" />船员
                        </a>
                    </li>
                    <li id="ship">
                        <a href="#">
                            <img src="~/images/ship/shipstatus.png" />航行设置
                        </a>
                    </li>
                    <li id="compon">
                        <a href="#">
                            <img src="~/images/ship/component.png" />组件查询
                        </a>
                    </li>
                    @if (SmartWeb.Tool.ManagerHelp.IsShowAlarm)
                    {
                        <li id="alarm">
                            @if (ViewBag.layuithis == "alarm")
                            {
                                <a href="#" style="color:#005DFF;font-weight:bold">
                                    <img src="~/images/ship/alarm1.png" />报警
                                </a>
                            }
                            else
                            {
                                <a href="#">
                                    <img src="~/images/ship/alarm.png" />报警
                                </a>
                            }
                        </li>
                    }
                    <li id="attendance">
                        <a href="#">
                            <img src="~/images/ship/attendance.png" />考勤
                        </a>
                    </li>

                    <li id="video">
                        <a href="#">
                            <img src="~/images/ship/video.png" />视频监控
                        </a>
                    </li>

                </ul>
            </div>
        </div>

        <div class="layui-body" style="background-color:#FFFFFF;top: 80px;bottom: 0;">
            <iframe id="frm" src="@ViewBag.src" style="width:98%;height:97%;background-color:white" frameborder="0" border="0" marginwidth="0" marginheight="0">
                <!-- 内容主体区域 -->
                @RenderBody()
            </iframe>
        </div>

        <div class="layui-footer" style="background-color:#FFFFFF"></div>
    </div>
    <script src="/scripts/layui/layui.js" type="text/javascript"></script>
    <script src="/scripts/layui/global.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $("#device").click(function () {
                $("#frm").attr("src", "/Device/Index")
                ClearStyle();
                $("#device a").attr("style", "font-weight:bold;color:#005DFF;");
                $("#device a img").attr("src", "/images/ship/device1.png");
            });
            $("#algorithm").click(function () {
                $("#frm").attr("src", "/Algorithm/Index");
                ClearStyle();
                $("#algorithm a").attr("style", "font-weight:bold;color:#005DFF;");
                $("#algorithm a img").attr("src", "/images/ship/algorithm1.png");
            });
            $("#crew").click(function () {
                $("#frm").attr("src", "/Crew/Index")
                ClearStyle();
                $("#crew a").attr("style", "font-weight:bold;color:#005DFF;");
                $("#crew a img").attr("src", "/images/ship/crew1.png");
            });
            $("#ship").click(function () {
                $("#frm").attr("src", "/Ship/Edit")
                ClearStyle();
                $("#ship a").attr("style", "font-weight:bold;color:#005DFF;");
                $("#ship a img").attr("src", "/images/ship/shipstatus1.png");
            });
            $("#alarm").click(function () {
                $("#frm").attr("src", "/Alarm/AlarmInfo?flag=false&isShip=true")
                ClearStyle();
                $("#alarm a").attr("style", "font-weight:bold;color:#005DFF;");
                $("#alarm a img").attr("src", "/images/ship/alarm1.png");
            });
            $("#attendance").click(function () {
                $("#frm").attr("src", "/Attendance/Index")
                ClearStyle();
                $("#attendance a").attr("style", "font-weight:bold;color:#005DFF;");
                $("#attendance a img").attr("src", "/images/ship/attendance1.png");
            });
            $("#video").click(function () {
                $("#frm").attr("src", "/Video/Index")
                ClearStyle();
                $("#video a").attr("style", "font-weight:bold;color:#005DFF;");
                $("#video a img").attr("src", "/images/ship/video1.png");
            });
            $("#compon").click(function () {
                $("#frm").attr("src", "/Component/Index")
                ClearStyle();
                $("#compon a").attr("style", "font-weight:bold;color:#005DFF;");
                $("#compon a img").attr("src", "/images/ship/component1.png");
            });
        });
        //清除左侧菜单样式
        function ClearStyle() {
            $("#device a").removeAttr("style");
            $("#device a img").attr("src", "/images/ship/device.png");

            $("#algorithm a").removeAttr("style");
            $("#algorithm a img").attr("src", "/images/ship/algorithm.png");

            $("#crew a").removeAttr("style");
            $("#crew a img").attr("src", "/images/ship/crew.png");

            $("#ship a").removeAttr("style");
            $("#ship a img").attr("src", "/images/ship/shipstatus.png");

            $("#alarm a").removeAttr("style");
            $("#alarm a img").attr("src", "/images/ship/alarm.png");

            $("#attendance a").removeAttr("style");
            $("#attendance a img").attr("src", "/images/ship/attendance.png");

            $("#video a").removeAttr("style");
            $("#video a img").attr("src", "/images/ship/video.png");

            $("#compon a").removeAttr("style");
            $("#compon a img").attr("src", "/images/ship/component.png");
        }
    </script>
</body>
</html>
@*<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script type="text/javascript">
    $(function () {
        //let hubUrl = "http://localhost:5000/chatHub";
        let hubUrl = "https://localhost:32796/chatHub";
        
        //创建连接对象connection
        const connection = new signalR.HubConnectionBuilder()
            .withUrl(hubUrl)
            .withAutomaticReconnect() //断线自动重连
            .configureLogging(signalR.LogLevel.Information)
            .build();

        connection.start().then(function () {
            //存cid
            connection.invoke("UserOnline").catch(function (err) {
                return console.log(err.toString());
            });
            //测试播放
            connection.invoke("TestAlarmV").catch(function (err) {
                return console.log(err.toString());
            });
        }).catch(function (ex) {
            console.log("连接失败" + ex);
            //SignalR JavaScript 客户端不会自动重新连接，必须编写代码将手动重新连接你的客户端
            setTimeout(() => start(), 5000);
        });

        //自动重连成功后的处理
        connection.onreconnected(connectionId => {
            console.log(connectionId);
        });

        connection.on("ReceiveAlarmVoice", function (arg1, arg2) {
            console.log(arg1 + JSON.stringify(arg2));
            if (arg1 === 200) {
                var audio = new Audio("../alarmvoice/bonvoyageSleep.mp3");
                audio.play();
            }
        });
    })
</script>*@
