
@{
    ViewData["Title"] = "Index2";
    if (!ViewBag.IsShowLayout)
    {
        Layout = null;
    }
}
<link href="~/layui/css/layui.css" rel="stylesheet" />
<script src="~/layui/layui.js"></script>
<style>
    button {
        width: 150px;
        height: 40px;
    }
    .layui-table tbody tr:hover, .layui-table thead tr, .layui-table-click, .layui-table-header, .layui-table-hover, .layui-table-mend, .layui-table-patch, .layui-table-tool, .layui-table[lay-even] tr:nth-child(even) {
        background-color: transparent;
    }
</style>
<script type="text/javascript">
    layui.use(['form', 'table'], function () {
        var $ = layui.$;
        var table = layui.table;
        var form = layui.form;
        var DISABLED = 'layui-btn-disabled';
        var width = window.screen.availWidth - 270;
        //执行一个 table 实例
        var tableIns = table.render({
            elem: '#deviceTable',   //渲染的目标对象
            url: '/Device/Load', //数据接口
            page: false,  //是否启用分页
            width: width,
            cols: [[ //表头
                { type: 'numbers', title: "序号", width: 100 },
                {
                    field: 'nickname',
                    title: '设备别名',
                    minWidth: 100,
                    event: 'collapse',
                    templet: function (d) {
                        return '<div style="position: relative;\n' + '    padding: 0 10px 0 20px;">' + d.nickname + '<i style="left: 0px;" lay-tips="展开" class="layui-icon layui-colla-icon layui-icon-right"></i></div>'
                    }
                },
                {
                    field: 'factory', title: '设备厂商', templet: function (e) {
                        if (e.factory == 1) return "海康";
                        else if (e.factory == 2) return "大华";
                        else if (e.factory == 3) return "伊顿";
                    }
                },
                {
                    field: 'type', title: '设备类型', align: 'center', templet: function (e) {
                        if (e.type == 1) return "DVR";
                        else if (e.type == 2) return "NVR";
                        else if (e.type == 3) return "IPC";
                    }
                },
                { field: 'name', title: '设备登陆名称', align: 'center' },
                { field: 'password', title: '设备登陆密码', align: 'center' },
                { field: 'ip', title: '设备登陆IP', align: 'center' },
                { field: 'port', title: '设备登陆端口', align: 'center' },
                {
                    field: 'enable', title: '设备状态', align: 'center', templet: function (e) {
                        return e.enable ? "开启" : "关闭";
                    }
                },
                { fixed: 'right', title: '操作', toolbar: '#userBar', align: 'center' }
            ]]
        });
        //监听工具条
        table.on('tool(deviceTable)', function (obj) {
            var data = obj.data;
            if (obj.event === 'collapse') {
                var data = obj.data;
                var trObj = layui.$(this).parent('tr'); //当前行
                var accordion = false; //开启手风琴，那么在进行折叠操作时，始终只会展现当前展开的表格。
                var content = '<table></table>' //内容
                //表格行折叠方法
                collapseTable({
                    elem: trObj,
                    accordion: accordion,
                    content: content,
                    success: function (trObjChildren, index) { //成功回调函数
                        //trObjChildren 展开tr层DOM
                        //index 当前层索引
                        trObjChildren.find('table').attr("id", index);
                        table.render({
                            elem: "#" + index,
                            cellMinWidth: 120,
                            width: (width - 150),
                            cols: [[
                                { type: 'numbers', title: "序号", width: 100 },
                                { field: "id", title: "id", hide: true },
                                { field: "deviceId", title: "id", hide: true },
                                { field: "index", title: "摄像机通道" },
                                {
                                    field: "enable", title: "摄像机状态", templet: function (e) {
                                        return e.enable ? "开启" : "停用";
                                    }
                                },
                                { field: "nickName", title: "摄像机别名" },
                                { field: "ip", title: "摄像机IP" },
                                { fixed: 'right', title: '操作', toolbar: '#camerBar', align: 'center' }
                            ]],
                            data: data.cameraModelList,
                            done: function () {

                            }
                        });
                    }
                });
            }
            else if (obj.event === 'del') {
                layer.confirm("是否确认删除？", {
                    icon: 3,
                    btn: ["确定", "取消"],
                    btnAlign: 'c', //按钮居中
                    yes: function (index) {
                        obj.del();
                        layer.close(index);
                        $.ajax({
                            url: "/Device/Delete",
                            type: "get",
                            dataType: "json",
                            data: { id: data.id, factory:data.factory },
                            contentType: "application/json;chartset=utf-8",
                            success: function (res) {
                                if (res.code == 1) {
                                    layer.msg(res.msg, { icon: 2 });
                                } else {
                                    layer.msg("删除成功");
                                    tableIns.reload();
                                }
                            }
                        });
                    }
                });
            }
            else if (obj.event === 'edit') {
                //layer.alert('编辑行：<br>' + JSON.stringify(data))
                mainIndex = layer.open({
                    type: 1,
                    title: '修改设备',
                    content: $("#divAddOrUpdate"),
                    area: ['650px', '370px'],
                    success: function (index) {
                        form.val("dataFrm", data);
                        $("#txtEnable").val(data.enable ? 1 : 0);
                        var flag = false;
                        if (data.cameraModelList.length > 0) {
                            flag = true;
                        }
                        setDisabled(flag);
                        form.render();
                        //url = "employees/updateEmployees.action";
                    },
                    yes: function () {
                        layer.closeAll();
                    }
                });
            }
            else if (obj.event === 'camEdit') {
                var camdata = this.parentNode.parentNode.parentNode;
                var trObj = layui.$(this).parent('tr'); //当前行
                layIndex = layer.open({
                    type: 1,
                    title: "修改摄像机",
                    content: $("#divCamUpdate"),
                    area: ["360px", "240px"],
                    success: function (index) {
                        $("#dataCamFrm")[0].reset();
                        form.val("dataCamFrm", {
                            "id": camdata.cells[1].firstChild.innerHTML,
                            "did": camdata.cells[2].firstChild.innerHTML,
                            "index": camdata.cells[3].firstChild.innerHTML,
                            "enable": camdata.cells[4].firstChild.innerHTML == "开启" ? true : false,
                            "nickName": camdata.cells[5].firstChild.innerHTML
                        });
                    }
                });
                var childtable = this.offsetParent.offsetParent.offsetParent.offsetParent.offsetParent.offsetParent.firstChild.id;
                setFormValue(obj, childtable);
            }
        });
        function collapseTable(options) {
            var trObj = options.elem;
            if (!trObj) return;
            var accordion = options.accordion,
                success = options.success,
                content = options.content || '';
            var tableView = trObj.parents('.layui-table-view'); //当前表格视图
            var id = tableView.attr('lay-id'); //当前表格标识
            var index = trObj.data('index'); //当前行索引
            var leftTr = tableView.find('.layui-table-fixed.layui-table-fixed-l tr[data-index="' + index + '"]'); //左侧当前固定行
            var rightTr = tableView.find('.layui-table-fixed.layui-table-fixed-r tr[data-index="' + index + '"]'); //右侧当前固定行
            var colspan = trObj.find('td').length; //获取合并长度
            var trObjChildren = trObj.next(); //展开行Dom
            var indexChildren = id + '-' + index + '-children'; //展开行索引
            var leftTrChildren = tableView.find('.layui-table-fixed.layui-table-fixed-l tr[data-index="' + indexChildren + '"]'); //左侧展开固定行
            var rightTrChildren = tableView.find('.layui-table-fixed.layui-table-fixed-r tr[data-index="' + indexChildren + '"]'); //右侧展开固定行
            var lw = leftTr.width() + 100; //左宽
            var rw = rightTr.width() + 15; //右宽
            //不存在就创建展开行
            if (trObjChildren.data('index') != indexChildren) {
                //装载HTML元素
                var tr = '<tr data-index="' + indexChildren + '"><td colspan="' + colspan + '"><div style="height: auto;background-color:#F7F7F7;padding-left:' + lw + 'px;padding-right:' + rw + 'px" class="layui-table-cell">' + content + '</div></td></tr>';
                trObjChildren = trObj.after(tr).next().hide(); //隐藏展开行
                var fixTr = '<tr data-index="' + indexChildren + '"></tr>';//固定行
                leftTrChildren = leftTr.after(fixTr).next().hide(); //左固定
                rightTrChildren = rightTr.after(fixTr).next().hide(); //右固定
            }
            //展开|折叠箭头图标
            trObj.find('td[lay-event="collapse"] i.layui-colla-icon').toggleClass("layui-icon-right layui-icon-down");
            //显示|隐藏展开行
            trObjChildren.toggle();
            //开启手风琴折叠和折叠箭头
            if (accordion) {
                trObj.siblings().find('td[lay-event="collapse"] i.layui-colla-icon').removeClass("layui-icon-down").addClass("layui-icon-right");
                trObjChildren.siblings('[data-index$="-children"]').hide(); //展开
                rightTrChildren.siblings('[data-index$="-children"]').hide(); //左固定
                leftTrChildren.siblings('[data-index$="-children"]').hide(); //右固定
            }
            success(trObjChildren, indexChildren); //回调函数

            //修改子表格中表头的背景色
            trObjChildren.find('th').css("background-color", "#F7F7F7");
            //修改子表格中表格的背景色
            trObjChildren.find('tr').css("background-color", "#F7F7F7");
            heightChildren = trObjChildren.height(); //展开高度固定
            rightTrChildren.height(heightChildren + 115).toggle(); //左固定
            leftTrChildren.height(heightChildren + 115).toggle(); //右固定
        }
        form.verify({
            ip: [
                /^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/
                , 'IP地址不符合规则'
            ],
            port: function (value) {
                var reg = /^\d+$/;
                if (!new RegExp(reg).test(value) || value.indexOf(" ") != -1 || value.length > 5) {
                    return '端口号不能超过5位正整数';
                }
            }
        });
        //表单提交
        form.on("submit(doSubmit)", function (frm) {
            if (!CheckData(frm)) {
                layer.msg("设备厂商、设备类型、登陆IP数据不能重复");
                return false;
            }
            $('#btnSubmit').attr('disabled', 'disabled').addClass(DISABLED);
            var data = {
                ip: frm.field.ip,
                name: frm.field.name,
                nickname: frm.field.nickname,
                password: frm.field.password,
                port: parseInt(frm.field.port),
                type: parseInt(frm.field.type),
                factory: parseInt(frm.field.factory),
                enable: frm.field.enable == 1 ? true : false,
                id: frm.field.id,
            };
            $.ajax({
                url: "/Device/Save",
                data: { strEmbed: JSON.stringify(data) },
                type: "get",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: function (res) {
                    if (res.code == 0) {
                        layer.msg("保存成功", { icon: 1 });
                        layer.closeAll();
                        tableIns.reload();
                    } else {
                        layer.msg(res.msg, { icon: 2 });
                    }
                    $("#btnSubmit").removeAttr('disabled').removeClass(DISABLED);
                }
            });
            return false;
        });
        function setFormValue(obj, camdata) {
            form.on("submit(doCamSubmit)", function (camFrm) {
                $('#btnCamSave').attr('disabled', 'disabled').addClass(DISABLED);
                var factory = GetFactoryById(camFrm.field.did);
                var data = {
                    id: camFrm.field.id,
                    did: camFrm.field.did,
                    factory: factory,
                    nickName: camFrm.field.nickName,
                    enable: camFrm.field.enable,
                    index: camFrm.field.index == "" ? 0 : parseInt(camFrm.field.index)
                }
                $.ajax({
                    url: "/Device/CamSave",
                    data: data,
                    type: "get",
                    datatype: "json",
                    contenttype: "application/json;chartset=utf-8",
                    success: function (res) {
                        $("#btnCamSave").removeAttr('disabled').removeClass(DISABLED);
                        if (res.code == 0) {
                            layer.msg("数据保存成功", { icon: 1 });
                            tableIns.reload();
                            layer.closeAll();//关闭所有的弹出层
                            //修改成功修改表格数据不进行跳转
                            //setTimeout(function () {
                            //    var flag = camFrm.field.enable == "1" ? true : false;
                            //    var cameras = obj.data.cameraModelList;
                            //    for (var i = 0; i < cameras.length; i++) {
                            //        if (cameras[i].id == camFrm.field.id) {
                            //            cameras[i].enable = flag;
                            //            cameras[i].nickName = camFrm.field.nickName;
                            //        }
                            //    }
                            //    obj.update({
                            //        cameraModelList: cameras
                            //    });
                            //    table.reload(camdata);
                            //    layer.closeAll();//关闭所有的弹出层
                            //}, 1000);
                        } else {
                            layer.msg(res.msg, { icon: 2 })
                        }
                    }
                });
                return false;
            })
        }
        $("#btnAdd").click(function () {
            layer.open({
                type: 1,
                title: '新增设备',
                content: $("#divAddOrUpdate"),
                area: ['650px', '370px'],
                success: function (index) {
                    $("#btnSubmit").removeAttr('disabled').removeClass(DISABLED);
                    $("#hidId").val("");
                    //清空表单数据
                    $("#dataFrm")[0].reset();
                    $("#txtEnable").val(1);
                    setDisabled(false);
                    form.render();
                }
            });
        });
        function CheckData(frm) {
            var ip = frm.field.ip;
            var factory = parseInt(frm.field.factory);
            var type = parseInt(frm.field.type);
            var id = frm.field.id;
            var data = table.cache["deviceTable"];
            for (var i = 0; i < data.length; i++) {
                if (data[i].id == id) continue;
                if (data[i].factory == factory && data[i].type == type && data[i].ip == ip) {
                    return false;
                }
            }
            return true;
        }
        function GetFactoryById(id) {
            var data = table.cache["deviceTable"];
            for (var i = 0; i < data.length; i++) {
                if (data[i].id == id) {
                    return data[i].factory;
                }
            }
            return 0;
        }
        function setDisabled(flag) {
            if (flag) {
                $("#slFactory").attr("disabled", "disabled").css("background-color", "#EEEEEE");
                $("#slType").attr("disabled", "disabled").css("background-color", "#EEEEEE");
                $("#txtName").attr("disabled", "disabled").css("background-color", "#EEEEEE");
                $("#txtPwd").attr("disabled", "disabled").css("background-color", "#EEEEEE");
                $("#txtIp").attr("disabled", "disabled").css("background-color", "#EEEEEE");
                $("#txtPort").attr("disabled", "disabled").css("background-color", "#EEEEEE");
            } else {
                $("#slFactory").removeAttr("disabled").css("background-color", "");
                $("#slType").removeAttr("disabled").css("background-color", "");
                $("#txtName").removeAttr("disabled").css("background-color", "");
                $("#txtPwd").removeAttr("disabled").css("background-color", "");
                $("#txtIp").removeAttr("disabled").css("background-color", "");
                $("#txtPort").removeAttr("disabled").css("background-color", "");
            }
        }

    });
</script>
<div>
    <div style="margin-top:30px;margin-left:30px;width:98%">
        <label style="font-family:STZhongsong;font-weight:bold;width:300px;font:normal;font-size:28px;">设备列表</label>
        <form style="margin-top:36px;margin-bottom:30px" class="layui-form" action="" id="serachFrm" lay-filter="serachFrm">
            <button type="button" class="layui-btn" id="btnAdd" style="width:136px;height:40px">增加设备</button>
        </form>
        <table class="layui-hide" id="deviceTable" lay-filter="deviceTable"></table>
        @if (ViewBag.IsSet)
        {

            <div id="userBar" style="display: none;">
                <a style="color:#2F6BFF" lay-event="edit">编辑</a>
                <a style="color:#8C8C8C;margin-left:50px" lay-event="del">删除</a>
            </div>
            <div id="camerBar" lay-filter="camerBar" style="display: none;">
                <a style="color:#2F6BFF" lay-event="camEdit">编辑</a>
            </div>
        }
    </div>
</div>
<div id="divAddOrUpdate" style="display:none;margin-top:20px">
    <form class="layui-form" action="" id="dataFrm" lay-filter="dataFrm">
        <input name="id" id="hidId" type="hidden" class="layui-input" />
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">设备厂商：</label>
                <div class="layui-input-inline">
                    <select name="factory" id="slFactory" class="layui-input">
                        <option value="1" selected="selected">HIKVISION 海康</option>
                        <option value="2">DAHUA 大华</option>
                        @*<option value="3">EATON 伊顿</option>*@
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">设备类型：</label>
                <div class="layui-input-inline">
                    <select name="type" id="slType" class="layui-input">
                        <option value="1" selected="selected">DVR</option>
                        <option value="2">NVR</option>
                        <option value="3" selected="selected">IPC</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">设备状态：</label>
                <div class="layui-input-inline">
                    <select name="enable" id="txtEnable" class="layui-input">
                        <option value="1" selected="selected">开启</option>
                        <option value="0">关闭</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">设备别名：</label>
                <div class="layui-input-inline">
                    <input type="text" name="nickname" maxlength="20" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">登陆名称：</label>
                <div class="layui-input-inline">
                    <input type="text" name="name" id="txtName" maxlength="100" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">登陆密码：</label>
                <div class="layui-input-inline">
                    <input type="text" name="password" id="txtPwd" maxlength="100" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">登陆IP：</label>
                <div class="layui-input-inline">
                    <input type="text" name="ip" id="txtIp" maxlength="20" lay-verify="ip" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">登陆端口：</label>
                <div class="layui-input-inline">
                    <input type="text" name="port" id="txtPort" lay-verify="port" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item" style="text-align:center;margin-top:30px">
            <div class="layui-input-block" id="divShow" style="margin:0 auto">
                <button type="submit" id="btnSubmit" class="layui-btn" lay-filter="doSubmit" lay-submit="">提交</button>
                <button type="reset" class="layui-btn layui-btn-warm">重置</button>
            </div>
        </div>
    </form>

</div>
<div id="divCamUpdate" style="display:none;margin-top:20px">
    <form class="layui-form" action="" id="dataCamFrm" lay-filter="dataCamFrm">
        <input name="id" id="hidId" type="hidden" class="layui-input" />
        <input type="hidden" name="did" value="" class="layui-input" />
        <input type="hidden" name="index" value="" class="layui-input" />
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:100px">摄像机状态：</label>
            <div class="layui-input-inline">
                <div class="layui-input-inline">
                    <input type="radio" name="enable" value="1" title="开启" class="layui-input">
                    <input type="radio" name="enable" value="2" title="停用" class="layui-input" checked="checked">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:100px">摄像机别名：</label>
            <div class="layui-input-inline" style="width:200px">
                <input type="text" name="nickName" maxlength="20" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" style="margin-top:30px;text-align:center">
            <div class="layui-input-block" id="divShow" style="margin:0 auto">
                <button type="submit" id="btnCamSave" class="layui-btn" lay-filter="doCamSubmit" lay-submit="">提交</button>
            </div>
        </div>
    </form>

</div>