@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-size-adjust: none;
    background: #FFFFFF;
}

body {
    padding: 5px;
}

select {
    height: 20px;
    line-height: 20px;
}

.left {
    float: left;
}

.freeze {
    position: absolute;
    text-align: center;
    background: #343434;
    color: #FFFFFF;
    font-size: 26px;
    font-weight: bold;
    filter: alpha(opacity=60);
    opacity: 0.6;
}

.vtop {
    vertical-align: middle;
    margin-top: -1px;
}
/*插件*/
.plugin {
    width: 785px;
    height: 550px;
}

fieldset {
    display: block;
}
/*数字通道*/
.ipchannel .digitalchannellist th, .ipchannel .digitalchannellist td {
    padding: 2px;
    border: 1px solid #7F9DB9;
    border-collapse: collapse;
    white-space: nowrap;
}
/*云台*/
.ptz .btn {
    width: 65px;
}
/*回放*/
.playback .searchdiv {
    height: 100px;
    overflow: hidden;
    overflow-y: auto;
    border: 1px solid #7F9DB9;
    font-size: 11px;
}

.playback .searchlist th, .playback .searchlist td {
    padding: 2px;
    border: 1px solid #7F9DB9;
    border-collapse: collapse;
    white-space: nowrap;
}
/*操作信息*/
.operate {
    width: 600px;
    padding: 10px;
    margin-left: 10px;
}

    .operate .opinfo {
        height: 150px;
        overflow: auto;
    }
/*事件回调*/
.callback {
    width: 600px;
    padding: 10px;
    margin-left: 10px;
}

    .callback .cbinfo {
        height: 114px;
        overflow: auto;
    }
