@model List<ShipWeb.Models.CameraConfig>

@{
    ViewData["Title"] = "Index";
    Layout = null;
}
<link href="~/layui/css/layui.css" rel="stylesheet" />
<script src="~/layui/layui.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        Load();
        $("#ckAll").click(function () {
            $('input[name="ck"]').prop("checked", this.checked);
        });
    });
    function Load() {
        $.ajax({
            url: "/CameraConfigs/Load",
            type: "get",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (res) {
                var str = "";//定义用于拼接的字符串
                $("#ckAll").prop("checked", false);
                if (res.code == 0) {
                    var data = res.data;
                    if (res.isSet) {
                        var option = '<input type="submit" value="批量保存"  class="layui-btn" onclick="SaveAll()" />';
                        $("#divOption").html(option);
                    }
                    for (var i = 0; i < data.length; i++) {
                        str += '<tr><td><input type = "checkbox" name = "ck" /><input type="hidden" value="' + (data[i].id == null ? "" : data[i].id) + '" /></td>';
                        str += '<td><label>' + data[i].cid +'</label></td>';
                        str += '<td>' + data[i].nickName+'</td>';
                        str += '<td><input type="text" onkeyup="this.value=this.value.replace(/[^1-9]/g,\'\')"  value="' + (data[i].gpu == 0 ? "" : data[i].gpu) + '" /></td>';
                        str += '<td><input type = "checkbox" name = "chk"' +IsShowCheck(data[i].enableSleep) + '/></td>';
                        str += '<td><input type = "checkbox" name = "chk"' +IsShowCheck(data[i].enableFight) + '/></td>';
                        str += '<td><input type = "checkbox" name = "chk"' +IsShowCheck(data[i].enableHelmet) + '/></td>';
                        str += '<td><input type = "checkbox" name = "chk"' + IsShowCheck(data[i].enablePhone) + '/></td>';
                        str += '<td><input type = "checkbox" onclick="Chose(this,' + i + ')" name = "rdo' + i + '"' + IsShowCheck(data[i].enableAttendanceIn) + '/></td>';
                        str += '<td><input type = "checkbox" onclick="Chose(this,' + i + ')" name = "rdo' + i + '"' + IsShowCheck(data[i].enableAttendanceOut) + '/></td>';                      
                        str += '<td><input  type="number" min="0.10" max="1.0" step="0.10" onkeyup="if(this.value>this.max){this.value=0;}else if(this.value.length>4){this.value=this.value.slice(0,4)}" value="' + (data[i].similar == null ? "" : data[i].similar) + '"/></td>';
                        str += '<td>'
                        if (res.isSet) {
                            str += "<a class=\"layui-btn layui-btn-xs\"  href=\"javascript: \" onclick=\"TbSave('" + i + "','" + data[i].id + "','" + data[i].cid + "')\">修改</a>";
                        }
                        str += "</td>";
                        str += '</tr>';
                    }
                }
                $("#tbo").html(str);
            }
        });
    }
    function IsShowCheck(ck) {
        if (ck) {
            return "checked ";
        }
        return "";
    }
    function Chose(obj,index) {
        var name = "rdo" + index;
        var checks = $("input[name='" + name + "']");
        if (obj.checked) {
            for (var i = 0; i < checks.length; i++) {
                checks[i].checked = false;
            }
            obj.checked = true;
        }

    }
    //单个保存
    function TbSave(index, id, cid) {
        var att = {};
        var Array = [];//一个空的数组
        //遍历每一个tr
        var str = [];
        var tds = $("#tb1 tbody").find("tr").eq(index).find("td");
        for (var i = 3; i < tds.length - 1; i++) {
            var txt;
            if (tds[i].children[0].type == "checkbox") {
                txt = tds[i].children[0].checked;
            } else if (tds[i].children[0].type == "radio") {
                txt = tds[i].children[0].checked;
            } else {
                txt = tds[i].children[0].value;
            }
            str.push(txt);
        }
        if (str[0] == '' || str[0] == undefined || parseInt(str[0])==0) {
            alert("gpu不能为空或0");
            return false;
        }
        if (!CheckSimila(str[7])) {
            alert("人脸相似度只能转入0-1之间的小数，如0.99");
            return false;
        }
        var att = {
            Cid: cid,
            Id: id,
            GPU: parseInt(str[0]),
            EnableSleep: str[1],
            EnableFight: str[2],
            EnableHelmet: str[3],
            EnablePhone: str[4],
            EnableAttendanceIn: str[5],
            EnableAttendanceOut: str[6],
            Similar: parseFloat(str[7])
        };
        if (!(att.EnableSleep || att.EnableFight || att.EnableHelmet || att.EnablePhone || att.EnableAttendanceIn || att.EnableAttendanceOut)) {
            alert("此摄像机未做任何配置");
            return false;
        }
        Array.push(att);
        $.ajax({
            url: "/CameraConfigs/Create",
            data: {
                mList: JSON.stringify(Array)
            },
            type: "get",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (res) {
                if (res.code == 1) {
                    alert(res.msg);
                } else {
                    alert("数据保存成功");
                    Load();
                }
            }
        });
    }
    //批量保存
    function SaveAll() {
        var k; var att = {};
        var Array = [];//一个空的数组
        var strgpu = "";//记录gpu为空的数据
        var strsm = "";//记录Simila有问题的数据
        var enable = "";//记录摄像机未做的配置
        $('#tb1 tbody tr').each(function () {
            //遍历每一个tr
            var str = [];
            //空数组，用于存放每一个tr里td的值
            var chil = $(this).children('td');
            if (!chil.eq(0).children('input')[0].checked) {
                return true;
            }
            var tdcount = chil.length - 1;
            var txt;
            for (k = 0; k < tdcount; k++) {
                //循环得到td的四项内容值
                if (chil.eq(k).children('input[type="hidden"]').length > 0) {
                    chil.eq(k).children('input[type="hidden"]').each(function (res) {
                        txt = $(this).val();
                        str.push(txt);
                    })
                }
                else if (chil.eq(k).children('input').attr("type") == "checkbox") {
                    txt = chil.eq(k).children('input')[0].checked;
                    str.push(txt);
                }
                else if (chil.eq(k).children('input').length>0){
                    txt = chil.eq(k).children('input').val();
                    str.push(txt);
                } else if (chil.eq(k).children('label').length > 0) {
                    txt = chil.eq(k).children('label').text();
                    str.push(txt);
                }
            }
            if (str[2] == '' || str[2] == undefined || parseInt(str[2]) == 0) {
                strgpu = "第" + (this.rowIndex) + "行";
                return false;
            }
            if (!CheckSimila(str[9])) {
                strsm = "第" + (this.rowIndex) + "行";
                return false;
            }
            
            att = {
                Id: str[0],
                Cid: str[1],
                GPU: str[2],
                EnableSleep: str[3],
                EnableFight: str[4],
                EnableHelmet: str[5],
                EnablePhone: str[6],
                EnableAttendanceIn: str[7],
                EnableAttendanceOut: str[8],
                Similar: str[9]
            };
            if (!(att.EnableSleep || att.EnableFight || att.EnableHelmet || att.EnablePhone || att.EnableAttendanceIn || att.EnableAttendanceOut)){
                enable = "第" + (this.rowIndex) + "行";
                return false;
            }
            //把每一个tr的数据写成一个json数据
            Array.push(att);
        });
        if (strgpu != "") {
            alert(strgpu + "中gpu不能为空");
            return false;
        }
        if (strsm != "") {
            alert(strsm + "中人脸相似度只能转入0-1之间的小数，如0.99");
            return false;
        }
        if (enable != "") {
            alert(enable + "此摄像机未做任何配置");
            return false;
        }
        if (Array.length == 0) {
            alert("请选择你要保存的数据");
            return;
        }
        $.ajax({
            url: "/CameraConfigs/Create",
            data: {
                mList: JSON.stringify(Array)
            },
            type: "get",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (res) {
                if (res.code == 1) {
                    alert(res.msg);
                } else {
                    alert("数据保存成功");
                    Load();
                }
            }
        })
    };
    function CheckSimila(simila) {
        var text = parseFloat(simila);
        if (!(text >= 0.1 && text <= 0.99)) {
            return false;
        }
        return true;
    }
</script>
<div style="margin:20px;width:96%">
    <h1>
        算法配置
    </h1>
    <hr />
    <div id="divOption">
        </div>
        <table class="layui-table" id="tb1" style="width:80%">
            <thead>
                <tr>
                    <th><input type="checkbox" id="ckAll"  /></th>
                    <th>摄像机编码</th>
                    <th>
                        摄像机名称
                    </th>
                    <th>
                        GPU
                    </th>
                    <th>
                        睡觉
                    </th>
                    <th>
                        启用打架
                    </th>
                    <th>
                        启用安全帽
                    </th>
                    <th>
                        启用打电话
                    </th>
                    <th>
                        请求考勤入
                    </th>
                    <th>
                        请求考勤出
                    </th>
                    <th>
                        人脸相似度
                    </th>
                  
                    <th>操作</th>
                </tr>
            </thead>
            <tbody id="tbo">
            </tbody>
        </table>
</div>
