@model List<ShipWeb.Models.CameraConfig>

@{
    ViewData["Title"] = "Index";
}
<link href="~/layui/css/layui.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        Load();
        $("#ckAll").click(function () {
            $('input[name="ck"]').prop("checked", this.checked);
        });
    });
    function Load() {
        $.ajax({
            url: "CameraConfigs/Load",
            type: "get",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (res) {
                var str = "";//定义用于拼接的字符串
                if (res.code == 0) {
                    var data = res.data;
                    if (res.isSet) {
                        var option = '<input type="submit" value="批量保存" class="btn btn-primary" onclick="SaveAll()" />';
                        $("#divOption").html(option);
                    }
                    for (var i = 0; i < data.length; i++) {
                        str += '<tr><td><input type = "checkbox" name = "ck" />';
                        str += '<td>' + data[i].nickName + '<input type="hidden" value="' + data[i].cid + '" />';
                        str += '<input type="hidden" value="' + (data[i].id == null ? "" : data[i].id) + '" /></td>';
                        str += '<td><input type="text" onkeyup="this.value=this.value.replace(/[^1-9]/g,0)" value="' + (data[i].gpu == null ? 0 : data[i].gpu) + '" /></td>';
                        str += '<td><input type = "checkbox" name = "chk"' + (data[i].enableSleep ? "checked=true" : "") + '/></td>';
                        str += '<td><input type = "checkbox" name = "chk"' + (data[i].enableFight ? "checked=true" : "") + '/></td>';
                        str += '<td><input type = "checkbox" name = "chk"' + (data[i].enableHelmet ? "checked=true" : "") + ' /></td>';
                        str += '<td><input type = "checkbox" name = "chk"' + (data[i].enablePhone ? "checked=true" : "") + '/></td>';
                        //str += '<td><input type = "radio" name = "rdo' + i + '"' + (data[i].enableAttendanceIn ? "checked=true" : "") + ' /></td>';
                        //str += '<td><input type = "radio" name = "rdo' + i + '"' + (data[i].enableAttendanceOut ? "checked=true" : "") + ' /></td>';
                        str += '<td><input type = "checkbox" onclick="Chose(this,'+i+')" name = "rdo' + i + '"' + (data[i].enableAttendanceIn ? "checked=true" : "") + ' /></td>';
                        str += '<td><input type = "checkbox" onclick="Chose(this,'+i+')" name = "rdo' + i + '"' + (data[i].enableAttendanceOut ? "checked=true" : "") + ' /></td>';
                        str += '<td><input type="number"onkeyup="if((event.keyCode<48 || event.keyCode>57) && event.keyCode!=46 || /\.\d\d$/.test(value))event.returnValue=false" maxlength="4" value="' + (data[i].similar == null ? 0 : data[i].similar) + '"/></td>';
                        str += '<td>'
                        if (res.isSet) {
                            str += "<a class=\"layui-btn layui-btn-xs\"  href=\"javascript: \" onclick=\"TbSave('" + i + "','" + data[i].id + "','" + data[i].cid + "')\">修改</a>";
                        }
                        str += "</td>";
                        str += '</tr>';
                    }
                }
                $("#tbo").html(str);
            }
        });
    }
    function Chose(obj,index) {       
        var name = "rdo" + index;
        var checks = $("input[name='" + name + "']");
        for (var i = 0; i < checks.length; i++) {
            checks[i].checked = false;
        }
        obj.checked = true;

    }
    //单个保存
    function TbSave(index, id, cid) {
        var att = {};
        var Array = [];//一个空的数组
        //遍历每一个tr
        var str = [];
        var tds = $("#tb1 tbody").find("tr").eq(index).find("td");
        for (var i = 2; i < tds.length - 1; i++) {
            var txt;
            if (tds[i].children[0].type == "checkbox") {
                txt = tds[i].children[0].checked;
            } else if (tds[i].children[0].type == "radio") {
                txt = tds[i].children[0].checked;
            } else {
                txt = tds[i].children[0].value;
            }
            str.push(txt);
        }
        if (str[0] == '' || str[0] == undefined) {
            alert("gpu不能为空");
            return false;
        }
        if (!CheckSimila(str[7])) {
            alert("人脸相似度只能转入0-1之间的小数，如0.99");
            return false;
        }
        var att = {
            Cid: cid,
            Id: id,
            GPU: parseInt(str[0]),
            EnableSleep: str[1],
            EnableFight: str[2],
            EnableHelmet: str[3],
            EnablePhone: str[4],
            EnableAttendanceIn: str[5],
            EnableAttendanceOut: str[6],
            Similar: parseFloat(str[7])
        };
        Array.push(att);
        $.ajax({
            url: "/CameraConfigs/Create",
            data: {
                mList: JSON.stringify(Array)
            },
            type: "get",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (res) {
                if (res.code == 1) {
                    alert(res.msg);
                } else {
                    alert("数据保存成功");
                    Load();
                }
            }
        });
    }
    //批量保存
    function SaveAll() {
        var k; var att = {};
        var Array = [];//一个空的数组
        var strgpu = "";//记录gpu为空的数据
        var strsm = "";//记录Simila有问题的数据
        $('#tb1 tbody tr').each(function () {
            //遍历每一个tr
            var str = [];
            //空数组，用于存放每一个tr里td的值
            var chil = $(this).children('td');
            if (!chil.eq(0).children('input')[0].checked) {
                return true;
            }
            var tdcount = chil.length - 1;
            var txt;
            for (k = 1; k < tdcount; k++) {
                //循环得到td的四项内容值
                if (chil.eq(k).children('input').attr("type") == "hidden") {
                    chil.eq(k).children('input[type="hidden"]').each(function (res) {
                        txt = $(this).val();
                        str.push(txt);
                    })
                    continue;
                }
                //else if (chil.eq(k).children('input').attr("name") == "chk") {
                //    txt = chil.eq(k).children('input')[0].checked;
                //}
                else if (chil.eq(k).children('input').attr("type") == "checkbox") {
                    txt = chil.eq(k).children('input')[0].checked;
                }
                else {
                    txt = chil.eq(k).children('input').val();
                }
                str.push(txt);
            }
            if (str[2] == '' || str[2] == undefined) {
                strgpu = "第" + (this.rowIndex) + "行";
                return false;
            }
            if (!CheckSimila(str[9])) {
                strsm = "第" + (this.rowIndex) + "行";
                return false;
            }
            att = {
                Cid: str[0],
                Id: str[1],
                GPU: str[2],
                EnableSleep: str[3],
                EnableFight: str[4],
                EnableHelmet: str[5],
                EnablePhone: str[6],
                EnableAttendanceIn: str[7],
                EnableAttendanceOut: str[8],
                Similar: str[9]
            };
            
            //把每一个tr的数据写成一个json数据
            Array.push(att);
        });
        if (strgpu != "") {
            alert(strgpu + "中gpu不能为空");
            return false;
        }
        if (strsm != "") {
            alert(strsm + "中人脸相似度只能转入0-1之间的小数，如0.99");
            return false;
        }
        if (Array.length == 0) {
            alert("请选择你要保存的数据");
            return;
        }
        $.ajax({
            url: "/CameraConfigs/Create",
            data: {
                mList: JSON.stringify(Array)
            },
            type: "get",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (res) {
                if (res.code == 1) {
                    alert(res.msg);
                } else {
                    alert("数据保存成功");
                    Load();
                }
            }
        })
    };

    function CheckSimila(simila)
    {
        var text = parseFloat(simila);
        if (!(text >= 0 && text <= 0.99)) {
            return false;
        }
        return true;
    }
</script>
<h1>
    算法配置
</h1>

<div id="divOption">

</div>
<table class="layui-table" id="tb1">
    <thead>
        <tr>
            <th><input type="checkbox" id="ckAll" /></th>
            <th>
                摄像机名称
            </th>
            <th>
                GPU
            </th>
            <th>
                睡觉
            </th>
            <th>
                启用打架
            </th>
            <th>
                启用安全帽
            </th>
            <th>
                启用打电话
            </th>
            <th>
                请求考勤入
            </th>
            <th>
                请求考勤出
            </th>
            <th>
                人脸相似度
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.ShipId)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody id="tbo">
    </tbody>
</table>