

@model ShipWeb.Models.User
@{
    Layout = null;
}
<link href="~/layui/css/layui.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    $(document).keydown(function (event) {
        //enter键执行确认
        if (event.keyCode == 13) {
            Login();
        }
    });
    function Login() {
        var name = $("#txtName").val().trim();
        var pwd = $("#txtPwd").val().trim();
        if (name == undefined || name == "" || name == null) {
            alert("用户名不能为空");
            return;
        }
        if (pwd == undefined || pwd == "" || pwd == null) {
            alert("密码不能为空");
            return;
        }
        $.ajax({
            url: "/Login/UserLogin",
            data: { name: name, password: pwd },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            type: "get",
            success: function (res) {
                if (res.code == 1) {
                    alert(res.msg);
                } else {
                    var type = $("#slType").val(); //$(':radio[name="rdo"]:checked').val();
                    if (type == 1) {
                        if (res.flag) {
                            window.location.href = "/Alarm/Index?isShow=true";//如果船存在就跳到报警页面
                        }
                        else {
                            window.location.href = "/Ship/Edit?isShow=true";//船不存在就先添加船
                        }
                    } else {
                        window.location.href = "/Home/LandHome";
                    }
                }
            }
        })
    }
</script>
<style>
    body {
        height: 100%;
        width: 100%;
        background-image: url('images/background.png');
        background-size: cover;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 450px;
        font-size: 16px;
        background-color: white
    }

        table tr {
            height: 70px;
        }
    .btn {
        background-color: #01469E;
        border: none;
        width: 82%;
        height: 46px;
        font-size: 18px;
        color: #FFFFFF;
        background-size: 100% 100%;
        margin-left:40px;
    }
</style>
<body class="layui-layout-body" style="height: 100%;width: 100%;position: relative; ">

    <div style=" position: absolute;top: 25%;left: 42%;margin-left: -42px;margin-top: -25px;">
        <div class="layui-form-item" style="margin-top: 20px;margin-bottom:30px">
            <div class="layui-inline">
                <img style="width:85px;height:35px;float:left" src="~/images/Logo.png" />
                <label style="font-size:32px;font:normal;font-family:FZCuHeiSongS-B-GB;margin-left:10px;width:300px;color:white;font-weight:bold">禹创智能科技</label>
            </div>
        </div>
        <table>
            <tr style="height:25px">
                <td>
                </td>
            </tr>
            <tr>
                <td>
                    <label style="font-size:24px;font:normal;margin-left:40px;font-weight:bold">用户登录</label>
                   
                </td>
            </tr>
            <tr>
                <td><input type="text" name="username" id="txtName" maxlength="20" placeholder="请输入用户名" style="width:82%;margin-left:40px;height:48px;padding-left:16px" class="layui-input"></td>
            </tr>
            <tr>
                <td> <input type="password" id="txtPwd" name="password" maxlength="32" placeholder="请输入密码"  style="width:82%;margin-left:40px;height:48px;padding-left:16px" class="layui-input"></td>
            </tr>
            <tr>
                <td>
                    <select id="slType" style="height:38px;border:1px solid #fff;width:150px;margin-left:40px">
                        <option value="1">船舶</option>
                        <option value="2" selected="selected">陆地</option>
                    </select>

                </td>
            </tr>
            <tr>
                <td style="padding-bottom:73px;padding-top:30px">
                    <button type="submit" class="btn" onclick="Login()">登录</button>
                </td>
            </tr>
        </table>

    </div>
    <div style="position: fixed;bottom:36px;height:44px;text-align:center;width:100%;">
        <div>
            <label style="color:#ffffff;font-size:14px;font-weight:bold">技术支持：四川凯普顿信息技术股份有限公司</label>
        </div>
        <div style="padding-top:8px">
            <label style="color:#ffffff;font-size:12px;">版权所有 © 2005–2020 Captain, Inc. 保留全部权利。Powered by Captain</label>
        </div>
    </div>

</body>