@model ShipWeb.Models.Users
@{
    ViewData["Title"] = "Index";
}
    <script type="text/javascript">
        function Login() {
            var name = $("#txtName").val();
            var pwd = $("#txtPwd").val();
            if (name == undefined || name == "" || name == null) {
                alert("用户名不能为空");
            }
            if (pwd == undefined || pwd == "" || pwd == null) {
                alert("密码不能为空");
            }
            //var data = {
            //    Name=name,
            //    Password=pwd
            //}
            $.ajax({
                url: "Login/UserLogin",
                data: { name: name, password: pwd },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                type: "get",
                success: function (res) {
                    if (res == "suscess") {
                        window.location.href = "@Url.Action("Index","Home")";//可以跳转.
                    } else {
                        alert(res);
                    }
                }
            })
        }
    </script>
<h1>Login</h1>
<div class="row">
    <div class="col-md-4">      
            <div class="form-group">
                <label class="control-label">用户名</label>
                <input  class="form-control" id="txtName" />              
            </div>
            <div class="form-group">
                <label class="control-label">密码</label>
                <input type="password" class="form-control" id="txtPwd" />
            </div>
            <div class="form-group">
                <input type="submit" value="登陆" class="btn btn-primary" onclick="Login()" />
            </div>      
    </div>
</div>