

@model ShipWeb.Models.Users
@{
    Layout = null;
}
<link href="~/layui/css/layui.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    function Login() {
        var name = $("#txtName").val();
        var pwd = $("#txtPwd").val();
        if (name == undefined || name == "" || name == null) {
            alert("用户名不能为空");
        }
        if (pwd == undefined || pwd == "" || pwd == null) {
            alert("密码不能为空");
        }
        $.ajax({
            url: "/Login/UserLogin",
            data: { name: name, password: pwd },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            type: "get",
            success: function (res) {
                if (res.code == 1) {
                    alert(res.msg);
                } else {
                    window.location.href = "/Home/Index";
                }
            }
        })
    }
</script>
<div>
<h1>Login</h1>
<div class="layui-form">
    <div class="layui-form-item" style="margin-top:10px">
        <label class="layui-form-label">用户名</label>
        <div class="layui-input-inline">
            <input type="text" name="username" id="txtName" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-inline">
            <input type="password" name="password" lay-verify="pass" placeholder="请输入密码" id="txtPwd" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item" style="margin-left:150px">
        <input type="submit" value="登陆" class="layui-btn" onclick="Login()" />
    </div>
</div>
</div>