
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NeedLogin</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link href="~/layui/css/layui.css" rel="stylesheet" />
</head>
<script type="text/javascript">
    $(function () {
        top.location.href = "/Login/Index?temp=true";
    });
</script>
<body>
</body>
</html>
