@{
    ViewData["Title"] = "Home Page";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    function show() {
        var data = {
            name: $("#btntxt").val()
        }
        $.ajax({
            url: "/Home/Show",
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            type: "post",
            success: function (res) {
                alert(res);
            }
        })
    }
</script>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <input type="text" class="display-1" id="btntxt" />
    <input type="button" class="display-2" value="测试" onclick="show()" />
</div>
