
@{
    ViewData["Title"] = "Home Page";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $.ajax({
            url: "/Home/Load",
            data: { shipId: $("#hidShipId").val() },
            type: "get",
            dataType: "json",
            contentType:"application/json;chartset=utf-8",
            success: function (res) {
                if (res.code == 0) {
                    if (res.isReturn) {
                        var html = '<a href="@Url.Action("LandHome","Home")">返回</a>';
                        $("#divReturn").html(html);
                    }
                }
            }
        });
    });
</script>
<div class="text-center">
    <div>
        <input type="hidden" id="hidShipId" value="@ViewBag.shipId" />
    </div>
    <div id="divReturn">      
    </div>

</div>
