@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <meta http-equiv="refresh" content="600" />
    <title>数据中心大屏-禹创</title>
    <link href="~/datacenter/css/reset.css" rel="stylesheet" />
    <link href="~/datacenter/css/scanboard.css?version=202009161641" rel="stylesheet" />
    <link href="~/datacenter/css/animsition.css" rel="stylesheet" />
    <link href="~/datacenter/css/jquery.shCircleLoader.css" rel="stylesheet" />
    <script src="~/datacenter/js/jquery.js"></script>
    <script src="~/datacenter/js/jquery.shCircleLoader-min.js"></script>
</head>
<body>
    <div id="loader"></div>
    <script type="text/javascript">
        $('#loader').shCircleLoader({ color: "#00deff" });
    </script>
    <div class="scanboardWp animsition">
        <!--Top Start!-->
        <div id="top">
            <div class="wp clearfix">
                <div class="left pageTit">
                    <a class="summaryBtn" href="javascript:;">禹创船舶汇总看板</a>
                </div>
                <div class="center topLogo">
                    <a href="#">
                        <img src="~/datacenter/images/logo.png" />
                    </a>
                </div>
                <div class="right topBar">
                    <div class="topTime">时间加载中...</div>
                    <div class="clearfix">
                        <a href="/Login/SignOut" class="signOut fr">退出</a>
                        <div class="company fr">
                            <a href="/Home/LandHome"><h3>管理中心</h3></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Top End!-->
        <!--Main Start!-->
        <div id="main" class="wp clearfix">
            <div class="left">
                <!--报警类型分析-->
                <div class="item waybill" style="height:43%">
                    <div class="itemTit">
                        <span class="border-yellow">报警类型分析</span>
                    </div>
                    <div class="month">
                        <span id="upMonth" onclick="SetAlarmType('upMonth');">上 月</span><span id="currentMonth" onclick="SetAlarmType('currentMonth')">本 月</span>
                    </div>
                    <div id="myChartAlarm" style="height: 235px;margin-top: 30px;"></div>
                </div>

                <!--各阶段平均用时统计-->
                <div class="item billState" style="height:30%">
                    <div class="itemTit">
                        <span class="border-green">各类型环比统计</span>
                    </div>
                    <div class="itemCon">
                        <div class="StateBoxAlarm">
                            <div class="StateTit" style="width: 98%;">
                                <span>报警类型</span>
                                <span>上月报警</span>
                                <span>本月报警</span>
                                <span>增量</span>
                                <span>环比</span>
                            </div>
                            <div id="FontScrollAlarm">
                                <ul>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!--设备数据统计-->
                <div class="item" style="height: 32%">
                    <div class="itemTit">
                        <span class="border-blue">设备数据统计</span>
                    </div>
                    <div id="myCountStatis" class="itemCon itembg" style="width: 100%;height: 70%;padding: 0px"></div>
                </div>
            </div>

            <div class="center">
                <div class="centerWp">
                    <!--中间大地图-->
                    <div class="mapContainer">
                        <div class="btnLayer">
                            <div class="search">
                                <div class="searchInner">
                                    <a href="javascript:;" class="searchBtn"><span class="icoSearch"></span></a>
                                    <form class="searchForm">
                                        <span class="icoSearch" id="subSearch"></span>
                                        <input type="text" id="subText" name="" placeholder="请输入船名搜索" autocomplete="off" />
                                        <ul id="subTextList"></ul>
                                    </form>
                                </div>
                            </div>
                            @*<a href="javascript:;" class="infoBtn"><span class="icoCar"></span></a>*@
                            <div class="maptheme">
                                <ul class="clearfix">
                                    <li id="mapthemeli">
                                        <a href="javascript:;" class="infoBtn"><span class="icoMapTheme"></span></a>
                                        <div id="mapthemeShow" style="display: none">
                                            <ul>
                                                <li><a onclick="SetMapTheme('normal');">标准</a></li>
                                                <li><a onclick="SetMapTheme('dark');">幻影黑</a></li>
                                                <li><a onclick="SetMapTheme('light');">月光银</a></li>
                                                <li><a onclick="SetMapTheme('whitesmoke');">远山黛</a></li>
                                                <li><a onclick="SetMapTheme('fresh');">草色青</a></li>
                                                <li><a onclick="SetMapTheme('grey');">雅士灰</a></li>
                                                <li><a onclick="SetMapTheme('graffiti');">涂鸦</a></li>
                                                <li><a onclick="SetMapTheme('macaron');">马卡龙</a></li>
                                                <li><a onclick="SetMapTheme('blue');">靛青蓝</a></li>
                                                <li><a onclick="SetMapTheme('darkblue');">极夜蓝</a></li>
                                                <li><a onclick="SetMapTheme('wine');">酱籽</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="myMap" class="item"></div>
                    </div>

                    <!--月运单量统计图-->
                    <div class="billChart">
                        <div class="itemTit">
                            <span class="border-blue">月报警量统计图<small id="yearMonth">(2020年10月)</small></span>
                        </div>
                        <div id="myChartMonthAlarm"></div>
                    </div>
                </div>
            </div>

            <div class="right">
                <!--总计报警数-->
                <div class="item total" style="height:25%">
                    <div class="itemTit">
                        <span class="border-purple">总计报警数</span>
                    </div>
                    <div class="itemCon itembg">
                        <div class="totalNum"><strong id="totalNum" total="368082">0</strong><span>次</span></div>
                    </div>
                </div>

                <!--基本信息-->
                <div class="item basicInfo" style="height:33%">
                    <div class="itemTit">
                        <span class="border-green1">基本信息</span>
                    </div>
                    <div class="itemCon itembg">
                        <div class="infoPie">
                            <ul class="clearfix">
                                <li class="color-yellow">
                                    <span class="border-yellow" id="indicator1" total="32">0</span>
                                    <p>航行船舶</p>
                                </li>
                                <li class="color-green">
                                    <span class="border-green" id="indicator2" total="65">0</span>
                                    <p>停港船舶</p>
                                </li>
                                <li class="color-blue">
                                    <span class="border-blue" id="indicator3" total="100">0</span>
                                    <p>船员数量</p>
                                </li>
                            </ul>
                            <div id="indicatorContainer"></div>
                        </div>
                    </div>
                </div>

                <!--考勤状态-->
                <div class="item billState" style="height:45%">
                    <div class="itemTit">
                        <span class="border-gray">考勤状态</span>
                    </div>
                    <div class="itemCon">
                        <div class="StateBox">
                            <div class="StateTit">
                                <span>船舶名称</span>
                                <span>船员姓名</span>
                                <span>考勤时间</span>
                                <span>行为</span>
                                <span>月出勤率</span>
                            </div>
                            <div id="FontScroll">
                                <ul>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Main End!-->
        <!--Footer Start!-->
        <div id="footer">
            <div class="wp clearfix">
                <a href="#">上海禹创智能科技有限公司@2020</a>
            </div>
        </div>
        <!--Footer End!-->
    </div>

    <div class="filterbg"></div>
    <div class="popup">
        <a href="javascript:;" class="popupClose"></a>
        <div class="summary">
            <div class="summaryTop">
                <div id="summaryPie1" class="summaryPie"></div>
                <div id="summaryPie2" class="summaryPie"></div>
                <div id="summaryPie3" class="summaryPie"></div>
            </div>
            <div class="summaryBottom">
                <div class="summaryBar">
                    <div class="summaryTit">
                        <img src="~/datacenter/images/tit1.png">
                    </div>
                    <div id="summaryBar"></div>
                </div>

                <div class="summaryLine">
                    <div class="summaryTit">
                        <img src="~/datacenter/images/tit2.png">
                    </div>
                    <div id="summaryLine"></div>
                </div>
            </div>
        </div>
    </div>
    <canvas id="canvas" style="position: absolute;top: 0;left: 0;"></canvas>
</body>
</html>
<script src="~/datacenter/js/bg.js"></script>
<script src="~/datacenter/js/scanboard.js?version=202009241222"></script>
<script src="~/datacenter/js/fontscroll-1.2.js"></script>
<script src="~/datacenter/js/jquery.animsition.js"></script>
<script src="~/datacenter/js/jquery.nicescroll.js"></script>
<script src="~/datacenter/js/echarts.js"></script>
<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=f8ffe058b8e6f5b05e8ff43ca4207393"></script>
