
@{
    Layout = null;
    ViewData["Title"] = "LandHome";
}

<link href="~/layui/css/layui.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/layui/layui.js"></script>
<script type="text/javascript">
    layui.use(['element','table', 'form'], function () {
        var $ = layui.jquery
        var element = layui.element;
        $(".alarm").click(function () {
            $("#divBody").show();
            $("#divShip").hide();
            $("#ifBody").attr("src", "/Alarm/AlarmShipAll")
        });
        $(".ship").click(function () {
            ShowShip();
        }); 
        $(".user").click(function () {
            $("#divBody").show();
            $("#divShip").hide();
            $("#ifBody").attr("src", "/Users/Index")
        });
    });
    function ShowShip() {
        $("#divBody").hide();
        $("#divShip").show();
        $.ajax({
            url: "/Ship/LoadAll",
            data: {},
            type: "get",
            dataType: "json",
            contentType: "application/json;chartset=utf-8",
            success: function (res) {
                if (res.code == 0) {
                    var html = "";
                    var tb = res.data;
                    if (tb.length > 0) {
                        for (var i = 0; i < tb.length; i++) {
                            html += '<tr>';
                            html += '<td>' + tb[i].name + '</td>';
                            html += '<td>' + (tb[i].flag ? "航行" : "停港") + '</td>';
                            html += '<td><a class="layui-btn layui-btn-primary layui-btn-xs" href="/Alarm/Index?isShow=true">详情</a></td>';
                            html += '</tr>';
                        }
                    }
                    $("#tbList").html(html);
                }
            }
        });
    }
</script>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header" style="background-color:#393D49">
        <div class="layui-logo">禹创智能科技</div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                欢迎您：@ShipWeb.Tool.ManagerHelp.LoginName
            </li>
            <li class="layui-nav-item"><a href="/Login/SignOut">退了</a></li>
        </ul>
    </div>

    <div style="margin-top:10px;width:200px;float:left">      
        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域 -->
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item alarm layui-this"><a href="#">报警</a></li>
                    @if (ViewBag.isAdmin)
                    {
                        <li class="layui-nav-item ship"><a href="#">船舶信息</a></li>
                        <li class="layui-nav-item user"><a href="#">用户信息</a></li>
                    }
                    </ul>
            </div>
        </div>
    </div>
    <div style="float:left;margin-top:10px">
        <div id="divBody" class="layui-body">
            <iframe id="ifBody" src="/Alarm/AlarmShipAll" style="width:100%;height:97%"></iframe>
        </div>
        <div id="divShip" style="display:none;margin-left:10px;">
            <table class="layui-table">
                <thead>
                    <tr>
                        <th style="width:200px">船名称</th>
                        <th style="width:200px">船状态</th>
                        <th style="width:200px"></th>
                    </tr>
                </thead>
                <tbody id="tbList">
                </tbody>
            </table>
        </div>
    </div>
</div>

