
@{
    ViewData["Title"] = "Index";
}

<link href="~/layui/css/layui.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $.ajax({
            url: "Attendance/Load",
            type: "get",
            dataType: "json",
            contentType: "application/json;chartset=utf-8",
            success: function (res) {
                if (res.code==0) {

                }
            }
        });
    });
</script>
<h1>考勤查询</h1>
<div>
   
</div>
