
@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<link href="~/layui/css/layui.css" rel="stylesheet" />
<script src="~/layui/layui.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<style>
    /*.layui-table-cell {
        display: table-cell;
        vertical-align: middle;
    }

    .layui-table img {
        max-width: 120px
    }*/
    img {
        width:180px;
        height:180px;
    }
    .card {
        text-align: left;
        width: 420px;
        height: 320px;
        border: 1px solid rgba(221, 221, 221, 1);
        float: left;
        margin-left: 30px;
        margin-top: 15px;
        border-radius: 8px;
    }
</style>

<script type="text/javascript">
    var page = 1;
    var limit = 8;
    layui.use(['form', 'layer', 'laydate'], function (obj) {
        var $ = layui.$;
        var table = layui.table;
        var form = layui.form;
        var layer = layui.layer;
        var laydate = layui.laydate;
        Load();
        var index = layer.loading; //添加laoding,0-2两种方式
        laydate.render({
            elem: '#dtTime',
            type: 'date',
            value: new Date()
        });      
        form.on("submit(query)", function (obj) {
            Search();
            return false;
        });
    });
    function Load() {
        $.ajax({
            url: "/Attendance/Load",
            data: { pageIndex: page, pageSize: limit},
            type: "get",
            dataType: "json",
            contentType: "application/json;chartset=utf-8",
            success: function (res) {
                if (res.code == 0) {
                    count = res.count;
                    page = res.pageIndex;
                    var dt = res.data;
                    ShowData(dt, count);
                }
            }
        });
    }
    function ShowData(dt)
    {
        var html = "";
        for (var i = 0; i < dt.length; i++) {
            html += '<div class="layui-card card">';
            html += '    <div style="margin-left:20px;margin-top:20px">';
            html += '        <label style="font-weight:bold;font-size:18px">船员：' + dt[i].name + '</label><br />';
            html += '    </div>';
            var attd = dt[i].attendances;
            var ru = null;//考勤入
            var chu = null;//考勤出
            for (var j = 0; j < attd.length; j++) {
                if (attd[j].behavior == "入") {
                    ru = attd[j];
                } else if(attd[j].behavior == "出"){
                    chu = attd[j];
                }
            }
            var src = "/images/attendance.png";
            var text = "";
            if (ru != null) {
                src = "data:image/jpeg;base64," + ru.picture;
                var text = "入&nbsp;&nbsp;" + ru.time;
            }
            html += FaceImg(src, text);
            text = "";
            src = "/images/attendance.png";
            if (chu != null) {
                src = "data:image/jpeg;base64," + chu.picture;
                text = "出&nbsp;&nbsp;" + chu.time;
            }
            html += FaceImg(src, text);
            html += '</div>';
        }
        $("#divbody").html(html);
        layui.use("laypage", function () {
            var laypage = layui.laypage;
            laypage.render({
                elem: 'page',
                count: count,
                limit: limit,
                curr: page,
                theme: '#2F6BFF',
                jump: function (obj, first) {
                    if (!first) {
                        page = obj.curr;
                        Search();
                    }
                }
            });
        })
    }
    function Search() {
        $.ajax({
            url: "/Attendance/QueryPage",
            data: { dtTime: $("#dtTime").val(), pageIndex: page, pageSize: limit },
            type: "get",
            dataType: "json",
            contentType: "application/json;chartset=utf-8",
            success: function (res) {
                if (res.code == 0) {
                    count = res.count;
                    page = res.pageIndex;
                    var dt = res.data;
                    ShowData(dt, count);
                }
            }
        });
    }
    function FaceImg(src, text) {
        var html = "";
        html += '<div style="margin-top:20px;width:180px;height:28px;margin-left:20px;float:left">';
        html += '    <img src="' + src + '" /><br />';
        if (text != "") {
            html += '<div style="background-color:#F2F2F2;margin-top:16px;width:180px;padding-top:5px;height:28px">'
            html += '<div style="border-radius: 60px;width:6px;height:6px;background-color:#19BE6B;margin-right:5px;margin-left:10px;float:left;margin-top: 8px;"></div>';
            html += ' <label style="font-size:10px;">' + text + '</label>';
            html+='</div>'

        } else {
            html += '<div style="background-color:#F2F2F2;margin-top:16px;width:180px;padding-top:5px;height:28px">'
            html += '<div style="border-radius: 60px;width:6px;height:6px;background-color:#FE9702;margin-right:5px;margin-left:10px;float:left;margin-top: 8px;"></div>';
            html += '<label  style="font-size:10px;">缺卡</label>';
            html += '</div>'
        }
        html += '</div>';
        return html;
    }
    function showBigImage(e) {
        layui.use('layer', function () { //独立版的layer无需执行这一句
            var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句
            var x = document.documentElement.clientWidth / 6;
            var y = document.documentElement.clientHeight / 6;
            var windowW = 960;
            var windowH = 540;
            layer.open({
                type: 1,
                offset: [y + "px", x + "px"],
                title: false,
                closeBtn: true,
                id: 'LAY_layuipro',
                shadeClose: true, //点击阴影关闭
                area: [windowW + 'px', windowH + 'px'], //宽高
                content: "<img style=\"position: absolute;width:100%;height:100%\" src=" + $(e).attr('src') + " />"
            });
        });
    }
</script>
<div style="width:98%">
    <div style="margin-left:30px;margin-top:30px">
        <label style="font-family:STZhongsong;font-weight:bold;width:300px;font:normal;font-size:28px;">考勤列表</label>
    </div>
    <form class="layui-form" action="" id="dataFrm" lay-filter="dataFrm" style="margin-top:30px">
        <div class="layui-form-item">
            <label class="layui-form-label">打卡时间</label>
            <div class="layui-input-inline" style="width:144px">
                <input name="startTime" class="layui-input" id="dtTime" placeholder="yyyy-MM-dd" type="text" autocomplete="off" width="144" readonly>
            </div>
            <button class="layui-btn" type="submit" lay-submit="" lay-filter="query" style="width:98px;height:40px">搜索</button>
        </div>
    </form>
    <div id="divbody" style="width:100%;height:auto">
        @*<div class="layui-card card">
                <div style="margin-left:20px;margin-top:20px">
                    <label style="font-weight:bold;font-size:18px">船员</label><br/>
                    <div style="margin-top:16px;margin-left:23px">
                        <img src="/images/add.png" /><br/>
                        <div style="margin-top:16px">
                            <label>入：时间</label>
                        </div>
                    </div>
                </div>
            </div>*@
    </div>
    <div id="page" style="float:left;width:100%;margin-left:27px;"></div>

</div>

