@model ShipWeb.Models.Embedded

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Embedded</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group" style="display:none" >
                <label asp-for="Did" class="control-label"></label>
                <input asp-for="Did" class="form-control" />
                <span asp-validation-for="Did" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">设备厂商</label>
                <select asp-for="Factory" class="form-control">
                    <option value="1" selected="selected">HIKVISION 海康</option>
                    <option value="2">DAHUA 大华</option>
                    <option value="3">EATON 伊顿</option>
                </select>
                <span asp-validation-for="Factory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">设备类型</label>
                <select asp-for="Type" class="form-control">
                    <option value="1" selected="selected">DVR</option>
                    <option value="2">NVR</option>
                    <option value="3">IPC</option>
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">设备登陆名称</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">设备登录密码</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">设备IP地址</label>
                <input asp-for="IP" class="form-control" />
                <span asp-validation-for="IP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">设备端口号</label>
                <input asp-for="Port" class="form-control" />
                <span asp-validation-for="Port" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">设备别名</label>
                <input asp-for="Nickname" class="form-control" />
                <span asp-validation-for="Nickname" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none">
                <label asp-for="ShipId" class="control-label"></label>
                <input asp-for="ShipId" class="form-control" />
                <span asp-validation-for="ShipId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="保存" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">返回列表</a>
</div>

