
@{
    ViewData["Title"] = "Index";
}
<link href="~/layui/css/layui.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<h1>设备列表</h1>
<script type="text/javascript">
    $(document).ready(function () {
        Load()
    });
    function Load() {
        $.ajax({
            url: "/Embedded/Load",
            type: "get",
            dataType: "json",
            data: {},
            contentType: "application/json;chartset=utf-8",
            success: function (res) {
                if (res.code == 0) {
                    var tb = res.data;
                    if (res.isSet == true) {
                        var create = '<a  class="layui-btn" href="Embedded/Create/">添加设备</a>';
                        $("#divCreate").html(create);
                    }
                    if (tb.length > 0) {
                        var html = "";
                        for (var i = 0; i < tb.length; i++) {
                            html += '<tr>';
                            html += '<td>' + tb[i].factory + '</td>';
                            html += '<td>' + tb[i].type + '</td>';
                            html += '<td>' + tb[i].name + '</td>';
                            html += '<td>' + tb[i].password + '</td>';
                            html += '<td>' + tb[i].ip + '</td>';
                            html += '<td>' + tb[i].port + '</td>';
                            html += '<td><a class="layui-btn layui-btn-primary layui-btn-xs" href="Cameras/Index/' + tb[i].id + '">详情</a>';
                            if (res.isSet == true) {
                                html += '<a class="layui-btn layui-btn-xs"  href="Embedded/Edit/' + tb[i].id + '">修改</a>';
                                html += "<a class=\"layui-btn layui-btn-danger layui-btn-xs\"  href=\"javascript: \" onclick=\"Del('" + tb[i].id + "')\">删除</a>";
                            }
                            html += '</td>';
                            html += '</tr>';
                        }
                        $("#tbList").html(html);
                    }
                }
            }
        });
    }
    function Del(id) {
        var r = confirm("是否确定要删除吗？");
        if (r == true) {
            $.ajax({
                url: "/Embedded/Delete",
                type: "get",
                dataType: "json",
                data: { id: id },
                contentType: "application/json;chartset=utf-8",
                success: function (res) {
                    if (res.code == 1) {
                        alert(res.msg);
                    } else {
                        Load();
                    }
                }
            });
        }
    }

</script>
<p>
    <div id="divCreate"></div>
</p>
<div>
    <table class="layui-table">
        <thead>
            <tr>
                <th>
                    设备厂商
                </th>
                <th>
                    设备类型
                </th>
                <th>
                    设备登陆名称
                </th>
                <th>
                    设备登陆密码
                </th>
                <th>
                    设备登陆IP
                </th>
                <th>
                    设备登陆端口
                </th>
                <th>
                    设备别名
                </th>
            </tr>
        </thead>
        <tbody id="tbList"></tbody>
    </table>
</div>

