
@{
    Layout = null;
}

<link href="~/layui/css/layui.css" rel="stylesheet" />
<script src="~/layui/layui.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<style>
    .card {
        text-align: left;
        width: 270px;
        height: 340px;
        border: 1px solid rgba(221, 221, 221, 1);
        float: left;
        margin-left: 38px;
        margin-top: 38px;
        border-radius: 8px;
    }
    .layui-this {
        color: #2F6BFF;
    }
</style>
<style type="text/css">
    .uploader-list {
        margin-left: -15px;
    }
        .uploader-list .handle {
            position: relative;
            background-color: black;
            color: white;
            filter: alpha(Opacity=80);
            opacity: 0.5;
            /*width: 100px;*/
            text-align: right;
            height: 28px;
            margin-bottom: -28px;
            display: none;
        }
            .uploader-list .handle i {
                margin-right: 5px;
            }
                .uploader-list .handle i:hover {
                    cursor: pointer;
                }

        .uploader-list .file-iteme {
            margin: 12px 0 0 15px;
            padding: 1px;
            float: left;
        }
</style>
<script type="text/javascript">
    var uploadFiles;
    var upnum = 0;//记录上传后返回的数量
    var upflag = true;//判断文件是否上传完
    var crewData = null;
    var DISABLED = 'layui-btn-disabled';
    var limit = 5;
    var page = 1;
    var count = 0;
    layui.use(['upload', 'form', 'element', 'layer'], function () {
        var $ = layui.jquery;
        var upload = layui.upload;
        var form = layui.form;
        var element = layui.element;
        var layer = layui.layer;
        Load();
        //多图片上传
        upload.render({
            elem: '#test2',
            url: '/Crew/UpFile/',
            acceptMime: 'image/*',
            ext: 'jpg|png|gif|bmp|jpeg',
            size: 300,//限制上传大小 单位KB
            multiple: true,
            choose: function (obj) {
                uploadFiles = obj.pushFile();
                var len = getJsonLength(uploadFiles);
                var frmLeng = $(".file-iteme .info").length;
                if (parseInt(len) + parseInt(frmLeng) > 3) {
                    layer.msg("上传的图片不能大于3张", { icon: 2 });
                    clearFile();
                    return false;
                } else {
                    obj.preview(function (index, file, result) {
                        AddImage(result, file.name);
                    });
                }
                upflag = false;//正在上传
            },
            before: function (obj) {
                //预读本地文件示例，不支持ie8
                //obj.preview(function (index, file, result) {
                //    $('#demo2').append('<img width="200px" height="300px" src="' + result + '" name="image" alt="' + file.name + '" class="form-imgage">&nbsp;&nbsp;&nbsp')
                //});
            },
            done: function (res) {
                upnum++;
                if (res.code == 0) {
                    $(".file-iteme .info").each(function (index, item) {
                        var name = $(this).text();
                        if (name == res.data.name) {
                            $(this).text(res.data.id);
                        }
                    })
                }
                var len = getJsonLength(uploadFiles);
                if (upnum == len) {
                    upflag = true;
                    upnum = 0;
                    //上传完毕
                    clearFile();
                }
            }
        });
        //表单提交
        form.on("submit(doSubmit)", function (frm) {
            if (!upflag) {
                layer.msg("别着急啊！图片还未上传完", { icon: 2 });
                return false;
            }
            $('#btnSubmit').attr('disabled', 'disabled').addClass(DISABLED);
            var picIds = "";
            var i = 0;
            $(".file-iteme .info").each(function () {
                i++;
                if (i == $(".file-iteme .info").length) {
                    picIds += $(this).text();
                } else {
                    picIds += $(this).text() + ",";
                }
            });
            var data = {
                id: frm.field.id,
                name: frm.field.name,
                job: frm.field.job,
                picIds: picIds
            };
            $.ajax({
                url: "/Crew/Save",
                data: data,
                type: "get",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: function (res) {
                    if (res.code == 0) {
                        layer.msg("保存成功", { icon: 1 });
                        layer.closeAll();
                        Load();
                    } else {
                        layer.msg(res.msg, { icon: 2 });
                    }
                    $("#btnSubmit").removeAttr('disabled').removeClass(DISABLED);
                }
            });
            return false;
        });       
        $("#btnAdd").click(function () {
            layer.open({
                type: 1,
                title: '新增船员',
                content: $("#divAddOrUpdate"),
                area: ['670px', '600px'],
                success: function (index) {
                    $("#btnSubmit").removeAttr('disabled').removeClass(DISABLED);
                    $("#hidId").val("");
                    clearFile();
                    //清空表单数据
                    $("#dataFrm")[0].reset();
                    $('#uploader-list').html("");
                }
            });
        });
        $("#imgbtn").click(function () {
            page = 1;           
            Search();
            form.render();
            return false;
        });
        
    })
    //清空上传的图片
    function clearFile() {
        for (let x in uploadFiles) {
            delete uploadFiles[x];
        }
        upnum = 0;
    }
    //获取上传数量
    function getJsonLength(jsonData) {
        var jsonLength = 0;
        for (var item in jsonData) {
            jsonLength++;
        }
        return jsonLength;
    }
    function Load() {
        $.ajax({
            url: "/Crew/Load",
            data: { pageIndex:page, pageSize:limit },
            type: "get",
            dataType: "json",
            contentType: "application/json;chartset=utf-8",
            success: function (res) {
                if (res.code == 0) {
                    count = res.count;
                    var dt = res.data;
                    crewData = res.data
                    ShowData(dt);
                }
            }
        });
    }
    function ShowData(dt)
    {
        var html = "";
        if (dt.length>0) {
            for (var i = 0; i < dt.length; i++) {
                var pics = dt[i].employeePictures;
                var src = "/images/ship/crewhead.png";
                if (pics.length > 0) {
                    src = "data:image/jpeg;base64," + pics[0].picture;
                }
                html += '<div class="layui-card card" style = "float:left;margin-top:20px;margin-left:30px;text-align:center;">';
                html += '    <div style="float:right;width:100%;margin-top: 10px">';
                html += '        <ul class="layui-nav" style="background-color: #ffffff;float: right;padding: 0;">';
                html += '             <li class="layui-nav-item">';
                html += '                 <a href="javascript:;">';
                html += '                    <img style="width:24px;height:24px" src="/images/ellipsis.png" />';
                html += '                </a>';
                html += '                <dl class="layui-nav-child" style="box-shadow: 0;top: 24px;">';
                html += "                    <dd><a href='javascript:;' style='font-size:12px;color:#8C8C8C' onclick=\"Edit('" + dt[i].id + "')\">编辑</a></dd>";
                html += "                    <dd><a href='javascript:;' style='font-size:12px;color:#8C8C8C'onclick=\"Del('" + dt[i].id + "')\">删除</a></dd>";
                html += '                </dl>';
                html += '            </li>';
                html += '        </ul>';
                html += '    </div>';
                html += '    <div style="float:left;width:100%">';
                html += '        <img style="width:160px;height:190px" ondblclick="showBigImage(this)" src="' + src + '"/><br /><br />';
                html += '        <label style="font-weight:bold;font:normal;font-size:20px;color:#101010">' + dt[i].name + '</label><br />';
                html += '        <div style="margin-top: 10px;">';
                html += '          <label style="font-size:14px;color:#8C8C8C">工作内容：' + dt[i].job + '</label>';
                html += '        </div>';
                html += '    </div>';
                html += '</div>';
            }
        } else {
            html = '<div style="text-align: center;margin-top: 50px;">没有数据<div></div></div>';
        }       
        $("#divbody").html(html);
        layui.element.init();//初始化
        layui.use("laypage", function () {
            var laypage = layui.laypage;
            laypage.render({
                elem: 'page',
                count: count,
                limit: limit,
                curr: page,
                theme: '#2F6BFF',
                jump: function (obj, first) {
                    if (!first) {
                        page = obj.curr;
                        Search();
                    }
                }
            });
        })
    }    
    function showBigImage(e) {
        layui.use('layer', function () { //独立版的layer无需执行这一句
            var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句
            var x = document.documentElement.clientWidth / 6;
            var y = document.documentElement.clientHeight / 6;
            var windowW = 960;
            var windowH = 540;
            layer.open({
                type: 1,
                offset: [y + "px", x + "px"],
                title: false,
                closeBtn: true,
                id: 'LAY_layuipro',
                shadeClose: true, //点击阴影关闭
                area: [windowW + 'px', windowH + 'px'], //宽高
                content: "<img style=\"position: absolute;width:100%;height:100%\" src=" + $(e).attr('src') + " />"
            });
        });
    }
    function Edit(id) {
        $('#uploader-list').html("");
        layer.open({
            type: 1,
            title: '修改船员',
            content: $("#divAddOrUpdate"),
            area: ['670px', '600px'],
            success: function (index) {
                $("#btnSubmit").removeAttr('disabled').removeClass(DISABLED);
                for (var i = 0; i < crewData.length; i++) {
                    if (crewData[i].id == id) {
                        $("#hidId").val(id);
                        $("#txtName").val(crewData[i].name);
                        $("#txtJob").val(crewData[i].job);
                        var pics = crewData[i].employeePictures;
                        for (var j = 0; j < pics.length; j++) {
                            var src = "data:image/jpeg;base64," + pics[j].picture;
                            AddImage(src, pics[j].id);
                        }
                        break;
                    }
                }
            }
        });
      
    }
    function Del(id) {
        layer.confirm("是否确认删除？？", {
            icon: 3,
            btn: ["确定", "取消"],
            btnAlign: 'c', //按钮居中
            yes: function (index) {
                $.ajax({
                    url: "/Crew/Delete",
                    type: "get",
                    dataType: "json",
                    data: { id: id },
                    contentType: "application/json;chartset=utf-8",
                    success: function (res) {
                        if (res.code == 1) {
                            layer.msg(res.msg, { icon: 2 });
                        } else {
                            Load();
                            layer.msg("数据删除成功", { icon: 1 });
                        }
                    }
                });
            }
        });
    }
    //加载图片
    function AddImage(src, name) {
        var upload = layui.upload;
        $('#uploader-list').append(
            '<div id="" class="file-iteme" style="float:left;margin-left:10px">' +
            '<div class="handle"><i class="layui-icon layui-icon-delete"></i></div>' +
            '<img style="width: 160px;height: 190px;" src=' + src + '>' +
            '<div class="info" style="display:none">' + name + '</div>' +
            '</div>'
        );
    }
    $(document).on("mouseenter mouseleave", ".file-iteme", function (event) {
        if (event.type === "mouseenter") {
            //鼠标悬浮
            $(this).children(".handle").fadeIn("fast");

        } else if (event.type === "mouseleave") {
            //鼠标离开
            $(this).children(".handle").hide();
        }
    });
    // 删除图片
    $(document).on("click", ".file-iteme .handle", function (event) {
        $(this).parent().remove();
    }); 

    function Search() {
        $.ajax({
            url: "/Crew/Search",
            data: { name: $("#txtSearchName").val(), pageIndex: page, pageSize: limit },
            type: "get",
            dataType: "json",
            contentType: "application/json;chartset=utf-8",
            success: function (res) {                
                if (res.code == 0) {
                    count = res.count;
                    page = res.pageIndex;
                    var dt = res.data;
                    ShowData(dt, count);
                } else {
                    var html = '<div style="text-align: center;margin-top: 50px;">没有数据<div></div></div>';
                    $("#divbody").html(html);
                }
            }
        });
    }
</script>
<div style="width:96%;">
    <div style="margin-left:30px;margin-top:30px">
        <label style="font-family:STZhongsong;font-weight:bold;width:300px;font:normal;font-size:28px;">船员信息</label>
        <form class="layui-form" action="" id="serachFrm" lay-filter="serachFrm" style="margin-top:30px">
            <button type="button" class="layui-btn" style="width:126px;height:40px" id="btnAdd">增加船员</button>
            @if (!ViewBag.IsLandHome)
            {
                <div class="demoTable" style="float:right;">
                    <div class="layui-inline" style="float:left">
                        <input type="text" name="year" id="txtSearchName" placeholder="请输入船员名称" class="layui-input" style="height:36px;width:288px">
                    </div>
                    <img src="/images/sousuo.png" style="width:32px;height:32px;margin-left:10px" id="imgbtn">
                </div>
            }
        </form>
    </div>
    <div id="divbody" style="width:100%;height:auto;margin-top: 10px;">
    </div>
    @if (!ViewBag.IsLandHome)
    {
        <div id="page" style="float:right;width:100%;"></div>
    }
</div>
<div id="divAddOrUpdate" style="display:none">
    <form class="layui-form" action="" id="dataFrm" lay-filter="dataFrm">
        <input name="id" id="hidId" type="hidden" class="layui-input" />
        <div class="layui-form-item" style="margin-top:20px">
            <div class="layui-inline">
                <label class="layui-form-label">船员名称：</label>
                <div class="layui-input-inline">
                    <input type="text" id="txtName" name="name" maxlength="20" style="width:552px" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">工作内容：</label>
                <div class="layui-input-inline">
                    <input type="text" id="txtJob" name="job" maxlength="50" style="width:552px;" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">船员图片：</label>
                <div class="layui-input-inline">
                    <div class="layui-upload">
                        <div style="width:300px">
                            <button type="button" class="layui-btn" id="test2">图片上传</button>
                            <label style="color:#8C8C8C;font-size:12px;margin-left:20px;width:200px">要求：上传3张图片</label>
                        </div>
                        <div class="layui-upload-list uploader-list" style="float:left;width:550px" id="uploader-list">
                        </div>
                    </div>                   
                </div>               
            </div>

        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" id="divShow" style="margin-top:50px">
                <button type="submit" id="btnSubmit" class="layui-btn " lay-filter="doSubmit" style="width:150px;height:40px" lay-submit="">提交</button>
                <button type="reset" class="layui-btn layui-btn-warm"style="width:150px;height:40px">重置</button>
            </div>
        </div>
    </form>

</div>
