
@{
    ViewData["Title"] = "AlarmShipAll";
    Layout = null;
}

<link href="~/layui/css/layui.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/layui/layui.js"></script>
<style>

    /*.layui-table-cell {
        width:100%;
        height: auto;
        white-space: normal;
    }

    .layui-table img {
        max-width: 200px
    }*/
   
</style>
<script type="text/javascript">
    layui.use(['form', 'table', 'layer', 'laydate'], function (obj) {
        var $ = layui.$;
        var table = layui.table;
        var form = layui.form;
        var layer = layui.layer;
        var laydate = layui.laydate;
        var index = layer.loading; //添加laoding,0-2两种方式       
        laydate.render({
            elem: '#dtStartTime',
            type: 'date'
        });
        laydate.render({
            elem: '#dtEndTime',
            type: 'date'
        });
        //第一个实例
        table.render({
            elem: '#alarmTable',
            loading: true, //翻页加loading
            url: "/Alarm/LoadAlarm", //数据接口
            request: {
                pageName: 'pageIndex',//页码的参数名称，默认：page
                limitName: 'pageSize' //每页数据量的参数名，默认：limit
            },
            cols: [[
                { field: 'name', title: '船舶', width: 100 },
                { field: 'time', title: '报警时间', width: 180 },
                //{ field: 'cid', title: '摄像机编号', width: 120 },
                { field: 'nickName', title: '摄像机名称', width: 150 },
                {
                    field: 'type', title: '睡觉',width:230, templet: function (e) {
                        if (e.type == 3) {                            
                            var id = "sleep" + e.LAY_INDEX;
                            var url = Drawing(e.picture, e.w, e.h, e.x, e.y, id);
                            return LoadImg(id);
                           
                        } else return "";
                    }
                },
                {
                    field: 'type', title: '打架', width: 230,   templet: function (e) {
                        if (e.type == 4) {
                            var id = "fight" + e.LAY_INDEX;
                            var url = Drawing(e.picture, e.w, e.h, e.x, e.y, id);
                            return LoadImg(id);
                        } else return "";
                    }
                },
                {
                    field: 'type', title: '安全帽', width: 230,  templet: function (e) {
                        if (e.type == 1) {
                            var id = "helmet" + e.LAY_INDEX;
                            var url = Drawing(e.picture, e.w, e.h, e.x, e.y, id);
                            return LoadImg(id);
                        } else return "";
                    }
                },
                {
                    field: 'type', title: '手机', width: 230, templet: function (e) {
                        if (e.type == 2) {
                            var id = "phone" + e.LAY_INDEX;
                            var url = Drawing(e.picture, e.w, e.h, e.x, e.y, id);
                            return LoadImg(id);
                        } else return "";
                    }
                }
            ]],
            limit: 10,
            limits: [10, 20, 30, 40, 50],
            page: {
                groups: 5 //只显示 5 个连续页码
            }, done: function (res) {
                var sl = res.ship;
                if (sl.length > 0) {
                    var slHtml = '<option value="">请选择</option>';
                    for (var i = 0; i < sl.length; i++) {
                        slHtml += '<option value="' + sl[i].id + '">' + sl[i].name + '</option>'
                    }
                    $("#slShip").html(slHtml);
                }
                form.render()//表单重新渲染，要不然添加完显示不出来新的option
                //返回数据执行回调函数
                layer.close(index);
                //返回数据关闭loading
            }
        });
        function LoadImg(id) {
            //var html = '<img style="width:800px;height:30px" ondblclick="showBigImage(this)"  src="data:image/jpeg;base64,' + pic + '"/>';
            var html = '<img style="width:200px;height:150px" id="' + id + '" ondblclick="showBigImage(this)" />';
            return html;
        }
        form.on("submit(query)", function (obj) {
            var data = {
                shipId: obj.field.ship,
                cid: obj.field.cid,
                name: obj.field.name,
                type: parseInt(obj.field.type),
                startTime: obj.field.startTime,
                endTime: obj.field.endTime
            }
            table.reload('alarmTable', {
                url: "/Alarm/SearchAlarm",
                where: {
                    searchModel: JSON.stringify(data)
                },
                request: {
                    pageName: 'pageIndex',//页码的参数名称，默认：page
                    limitName: 'pageSize' //每页数据量的参数名，默认：limit
                },
                page: {
                    curr: 1
                },
                done: function (res) {
                    form.render();
                }
            });
            return false;
        });


        function Drawing(pic, w, h, x, y,imgId) {
            var canvas = document.createElement("canvas");
            var cxt = canvas.getContext("2d");
            var img = new Image();
            img.src = "data:image/jpeg;base64," + pic;
            img.onload = function () {
                canvas.width = this.width;
                canvas.height = this.height;
                cxt.drawImage(this, 0, 0, this.width, this.height);
                cxt.strokeStyle = "red"; // 图形边框的样式
                cxt.lineWidth = 2; // 设置图形边框的宽度
                cxt.strokeRect(x, y, w, h); // 绘制矩形边框
                var imgData = canvas.toDataURL("image/jpeg");
                $('#' + imgId).attr("src", imgData);
            }
        }
    });
    function showBigImage(e) {
        layui.use('layer', function () { //独立版的layer无需执行这一句
            var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句
            var x = document.documentElement.clientWidth / 6;
            var y = document.documentElement.clientHeight / 6;
            var windowW = 960;
            var windowH = 540;
            layer.open({
                type: 1,
                offset: [y + "px", x + "px"],
                title: false,
                closeBtn: true,
                id: 'LAY_layuipro',
                shadeClose: true, //点击阴影关闭
                area: [windowW + 'px', windowH + 'px'], //宽高
                content: "<img style=\"position: absolute;width:100%;height:100%\" src=" + $(e).attr('src') + " />"
            });
        });
    }
</script>
<div style="margin:20px;width:96%">
    <form class="layui-form" action="" id="dataFrm" lay-filter="dataFrm">
        <div class="layui-form-item">
            <label class="layui-form-label">船名称</label>
            <div class="layui-input-inline">
                <select name="ship" id="slShip" style="width:100px">
                </select>
            </div>
            @*<label class="layui-form-label">摄像机编号</label>
            <div class="layui-input-inline" style="width:100px">
                <input name="cid" class="layui-input" type="text" placeholder="请输入" autocomplete="off">
            </div>*@
            <label class="layui-form-label">摄像机名称</label>
            <div class="layui-input-inline" style="width:100px">
                <input name="name" class="layui-input" type="text" placeholder="请输入" autocomplete="off">
            </div>
            <label class="layui-form-label">报警类型</label>
            <div class="layui-input-inline">
                <select name="type" style="width:100px">
                    <option value="0">请选择</option>
                    <option value="1">安全帽</option>
                    <option value="2">手机</option>
                    <option value="3">睡觉</option>
                    <option value="4">打架</option>
                </select>
            </div>

            <label class="layui-form-label">时间起</label>
            <div class="layui-input-inline" style="width:100px">
                <input name="startTime" class="layui-input" id="dtStartTime" placeholder="yyyy-MM-dd" type="text" autocomplete="off" readonly>
            </div>
            <label class="layui-form-label">时间止</label>
            <div class="layui-input-inline" style="width:100px">
                <input name="endTime" class="layui-input" id="dtEndTime" placeholder="yyyy-MM-dd" type="text" autocomplete="off" readonly>
            </div>
            <button class="layui-btn" type="submit" lay-submit="" lay-filter="query">查询</button>
        </div>
    </form>
    <table class="layui-table" id="alarmTable" layer-filter="alarmTable"></table>
</div>
