
@{
    ViewData["Title"] = "Index";
    if (!ViewBag.IsShowLayout)
    {
        Layout = null;
    }
}
<link href="~/layui/css/layui.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/layui/layui.js"></script>
<style>
    .layui-table-cell {
        display: table-cell;
        vertical-align: middle;
    }
    .layui-table img {
        max-width: 120px
    }

</style>
<script type="text/javascript">
    layui.use(['form', 'table', 'layer', 'laydate'], function (obj) {
        var $ = layui.$;
        var table = layui.table;
        var form = layui.form;
        var layer = layui.layer;
        var laydate = layui.laydate;
        var index = layer.loading; //添加laoding,0-2两种方式
        laydate.render({
            elem: '#dtStartTime',
            type: 'date'
        });
        laydate.render({
            elem: '#dtEndTime',
            type: 'date'
        });
        //第一个实例
        table.render({
            elem: '#alarmTable',
            loading: true, //翻页加loading
            url: "/Alarm/Load", //数据接口
            request: {
                pageName: 'pageIndex',//页码的参数名称，默认：page
                limitName: 'pageSize' //每页数据量的参数名，默认：limit
            },
            cols: [[
                { field: 'time', title: '报警时间' },
                { field: 'nickName', title: '摄像机名称' },
                {
                    field: 'type', title: '安全帽', templet: function (e) {
                        if (e.type == 1) {
                            var id = "helmet" + e.LAY_INDEX;
                            var url = Drawing(e.picture, e.w, e.h, e.x, e.y, id);
                            return LoadImg(id);
                        } else return "";
                    }
                },
                {
                    field: 'type', title: '手机',  templet: function (e) {
                        if (e.type == 2) {
                            var id = "phone" + e.LAY_INDEX;
                            var url = Drawing(e.picture, e.w, e.h, e.x, e.y, id);
                            return LoadImg(id);
                        } else return "";
                    }
                },
                {
                    field: 'type', title: '睡觉',  templet: function (e) {
                        if (e.type == 3) {
                            var id = "sleep" + e.LAY_INDEX;
                            var url = Drawing(e.picture, e.w, e.h, e.x, e.y, id);
                            return LoadImg(id);

                        } else return "";
                    }
                },
                {
                    field: 'type', title: '打架',  templet: function (e) {
                        if (e.type == 4) {
                            var id = "fight" + e.LAY_INDEX;
                            var url = Drawing(e.picture, e.w, e.h, e.x, e.y, id);
                            return LoadImg(id);
                        } else return "";
                    }
                }
            ]],
            limit: 5,
            limits: [5, 10, 20, 40, 50],
            page: {
                groups: 5 //只显示 5 个连续页码
            }, done: function (res) {
                //返回数据执行回调函数
                layer.close(index);
                //返回数据关闭loading
            }
        });
        function LoadImg(id) {
            //var html = '<img style="width:800px;height:30px" ondblclick="showBigImage(this)"  src="data:image/jpeg;base64,' + pic + '"/>';
            var html = '<img style="height:80px" id="' + id + '" ondblclick="showBigImage(this)" />';
            return html;
        }
        form.on("submit(query)", function (obj) {
            var data = {
                name: obj.field.name,
                type: parseInt(obj.field.type),
                startTime: obj.field.startTime,
                endTime: obj.field.endTime
            }
            table.reload('alarmTable', {
                url: "/Alarm/QueryPage",
                where: {
                    searchModel: JSON.stringify(data)
                },
                request: {
                    pageName: 'pageIndex',//页码的参数名称，默认：page
                    limitName: 'pageSize' //每页数据量的参数名，默认：limit
                },
                page: {
                    curr: 1
                },
                done: function (res) {
                    form.render();
                }
            });
            return false;
        });
        form.on("submit(export)", function (obj) {
            window.location.href = "/Alarm/ExportPdf";
            //$.ajax({
            //    url: "/Alarm/ExportPdf",
            //    //data: {},
            //    type: "get",
            //    //dataType: "json",
            //    contentType: "application/pdf",
            //    success: function (res) {
            //        debugger;
            //        //var aa = res;
            //    }
            //})
            //return false;
        });

        function Drawing(pic, w, h, x, y, imgId) {
            var canvas = document.createElement("canvas");
            var cxt = canvas.getContext("2d");
            var img = new Image();
            img.src = "data:image/jpeg;base64," + pic;
            img.onload = function () {
                canvas.width = this.width;
                canvas.height = this.height;
                cxt.drawImage(this, 0, 0, this.width, this.height);
                cxt.strokeStyle = "red"; // 图形边框的样式
                cxt.lineWidth = 2; // 设置图形边框的宽度
                cxt.strokeRect(x, y, w, h); // 绘制矩形边框
                var imgData = canvas.toDataURL("image/jpeg");
                $('#' + imgId).attr("src", imgData);
            }
        }

    });
    function showBigImage(e) {
        layui.use('layer', function () { //独立版的layer无需执行这一句
            var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句
            var x = document.documentElement.clientWidth / 6;
            var y = document.documentElement.clientHeight / 6;
            var windowW = 960;
            var windowH = 540;
            layer.open({
                type: 1,
                offset: [y + "px", x + "px"],
                title: false,
                closeBtn: true,
                id: 'LAY_layuipro',
                shadeClose: true, //点击阴影关闭
                area: [windowW + 'px', windowH + 'px'], //宽高
                content: "<img style=\"position: absolute;width:100%;height:100%\" src=" + $(e).attr('src') + " />"
            });
        });
    }
    function Export() {
        var name = $("#txtName").val();
        var type = $("#slType").val();
        var starttime = $("#dtStartTime").val();
        var endtime = $("#dtEndTime").val();
        if (starttime == "" || endtime == "") {
            layer.msg("请选择您要导出的时间段", { icon: 2 });
            return false;
        }
        window.location.href = "/Alarm/ExportPdf?name=" + name + "&type=" + parseInt(type) + "&startTime=" + starttime + "&endTime=" + endtime;
    }
</script>
<div style="margin:20px;width:96%">
    <form class="layui-form" action="" id="dataFrm" lay-filter="dataFrm">
        <div class="layui-form-item">
            <label class="layui-form-label">摄像机名称</label>
            <div class="layui-input-inline" style="width:100px">
                <input name="name" id="txtName" class="layui-input" maxlength="20" type="text" placeholder="请输入" autocomplete="off">
            </div>
            <label class="layui-form-label">报警类型</label>
            <div class="layui-input-inline">
                <select name="type" id="slType" style="width: 100px">
                    <option value="0">请选择</option>
                    <option value="1">安全帽</option>
                    <option value="2">手机</option>
                    <option value="3">睡觉</option>
                    <option value="4">打架</option>
                </select>
            </div>

            <label class="layui-form-label">时间起</label>
            <div class="layui-input-inline" style="width:100px">
                <input name="startTime" class="layui-input" id="dtStartTime" placeholder="yyyy-MM-dd" type="text" autocomplete="off" readonly>
            </div>
            <label class="layui-form-label">时间止</label>
            <div class="layui-input-inline" style="width:100px">
                <input name="endTime" class="layui-input" id="dtEndTime" placeholder="yyyy-MM-dd" type="text" autocomplete="off" readonly>
            </div>
            <button class="layui-btn" type="submit" lay-submit="" lay-filter="query">查询</button>
            <a href="#"  onclick="Export()" class="layui-btn">导出</a>
        </div>
    </form>
    <table class="layui-table" id="alarmTable" layer-filter="alarmTable"></table>
</div>

