@model SmartWeb.Models.Ship
@{
    if (!ViewBag.isShow)
    {
        Layout = null;
    }
}
<link href="~/layui/css/layui.css" rel="stylesheet" />
<script src="~/layui/layui.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    layui.use('form', function () {
        var $ = layui.$;
        var form = layui.form;
        load();
        form.on("select(type)", function (data) {
            if (data.value == 1) {
                $("#txtStatus").html("航行");
            } else {
                $("#txtStatus").html("停港");
            }
        });
        //监听提交
        form.on('submit(doSubmit)', function (frm) {
            var data = {
                id: frm.field.id,
                name: frm.field.name,
                type: parseInt(frm.field.type)
            }
            $.ajax({
                url: "/Ship/Save",
                data: data,
                type: "get",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: function (res) {
                    if (res.code == 0) {
                        layer.msg("保存成功", { icon: 1 });
                        //修改父窗体中对应的船名称
                        $(window.parent.document).find("#lblTitle").html(frm.field.name);
                        var hid = $("#hidId").val();
                        if (hid == undefined || hid == "") {
                            form.render();
                        }
                    } else {
                        layer.msg(res.msg, { icon: 2 });
                    }
                }
            });
            return false;
        });
        function load() {
            $.ajax({
                url: "/Ship/Load",
                data: {},
                type: "get",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: function (res) {
                    if (res.code == 0) {
                        if (res.data != null) {
                            $(window.parent.document).find("#lblTitle").html(res.data.name);
                            form.val("dataFrm", {
                                "id": res.data.id,
                                "name": res.data.name,
                                "type": res.data.type
                            });
                            var status = res.data.flag ? "航行" : "停港";
                            $("#txtStatus").html(status);
                            form.render();
                        }
                        if (res.isSet) {
                            var html = ' <button type="submit" class="layui-btn" style="width:126px;height:40px" lay-filter="doSubmit" lay-submit="">提交</button>';
                            $("#divShow").html(html);
                        }
                    }
                }
            });
        }       
    });
</script>
<div style="margin:30px">
    <label style="font-family:STZhongsong;font-weight:bold;width:300px;font:normal;font-size:28px;">修改船舶信息</label>
    <form class="layui-form" action="" id="dataFrm" lay-filter="dataFrm" style="margin-top:32px">
        <input name="id" id="hidId" type="hidden" class="layui-input" />
        <div class="layui-form-item" style="margin-top: 20px;">
            <div class="layui-inline">
                <label class="layui-form-label">船舶名称：</label>
                <div class="layui-input-inline">
                    <input type="text" id="txtName" name="name" required maxlength="20" style="width:360px;height:40px" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">设置：</label>
                <div class="layui-input-inline" style="width:360px">
                        <select id="slStatus" name="type" class="layui-input" style="height:40px" lay-filter="type">
                            <option value="0">AUTO(自动)</option>
                            <option value="1">SAIL(手动航行)</option>
                            <option value="2">PORT(手动停港)</option>
                        </select>
                  
                </div>
            </div>
        </div>
        <div>
            <div class="layui-inline">
                <label class="layui-form-label">默认状态：</label>
                <label id="txtStatus" class="layui-form-label" style="text-align:left"></label>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" style="margin-top:56px" id="divShow">

                @*<button type="reset" class="layui-btn layui-btn-warm layui-btn-sm layui-icon layui-icon-refresh">重置</button>*@
            </div>

        </div>

    </form>
</div>
