
@{
    ViewData["Title"] = "Index";
}
<link href="~/layui/css/layui.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    $(function () {
       
    })
</script>
<div>
    <table class="layui-table" style="margin-left:50px">
        <thead>
            <tr>
                <th>船名称</th>
                <th>船状态</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tbList">
        </tbody>
    </table>
</div>