@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?7pla33');
  src:  url('fonts/icomoon.eot?7pla33#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?7pla33') format('truetype'),
    url('fonts/icomoon.woff?7pla33') format('woff'),
    url('fonts/icomoon.svg?7pla33#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ojcsz:before {
  content: "\e900";
}
.icon-oksgl:before {
  content: "\e901";
}
.icon-osygh:before {
  content: "\e902";
}
.icon-osqgl:before {
  content: "\e903";
}
.icon-oxbxk:before {
  content: "\e904";
}
.icon-oxkyx:before {
  content: "\e905";
}
.icon-oxsgl:before {
  content: "\e906";
}
.icon-oxsgll:before {
  content: "\e907";
}
.icon-ozsgl:before {
  content: "\e908";
}
.icon-oznpk:before {
  content: "\e909";
}
.icon-ozypg:before {
  content: "\e90a";
}
.icon-objxx:before {
  content: "\e90b";
}
.icon-ebmryxx:before {
  content: "\e90c";
}
.icon-ebmxx:before {
  content: "\e90d";
}
.icon-ecdpz:before {
  content: "\e90e";
}
.icon-ecssz:before {
  content: "\e90f";
}
.icon-ecjfx:before {
  content: "\e910";
}
.icon-ecjxx:before {
  content: "\e911";
}
.icon-edszk:before {
  content: "\e912";
}
.icon-efcgl:before {
  content: "\e913";
}
.icon-efzgl:before {
  content: "\e914";
}
.icon-efzqx:before {
  content: "\e915";
}
.icon-ehbgl:before {
  content: "\e916";
}
.icon-ecsbs:before {
  content: "\e917";
}
.icon-ejzxx:before {
  content: "\e918";
}
.icon-ejsry:before {
  content: "\e919";
}
.icon-ejsxx:before {
  content: "\e91a";
}
.icon-ejsbksq:before {
  content: "\e91b";
}
.icon-ejsbksh:before {
  content: "\e91c";
}
.icon-jsxx:before {
  content: "\e91d";
}
.icon-ejszs:before {
  content: "\e91e";
}
.icon-ejsap:before {
  content: "\e91f";
}
.icon-ejxbfz:before {
  content: "\e920";
}
.icon-eksap:before {
  content: "\e921";
}
.icon-ekccs:before {
  content: "\e922";
}
.icon-ekcfq:before {
  content: "\e923";
}
.icon-ekcgl:before {
  content: "\e924";
}
.icon-ekcjh:before {
  content: "\e925";
}
.icon-ekcsj:before {
  content: "\e926";
}
.icon-ekcxx:before {
  content: "\e927";
}
.icon-endxqsz:before {
  content: "\e928";
}
.icon-enjxx:before {
  content: "\e929";
}
.icon-epkgz:before {
  content: "\e92a";
}
.icon-epksl:before {
  content: "\e92b";
}
.icon-eqjcs:before {
  content: "\e92c";
}
.icon-erjsz:before {
  content: "\e92d";
}
.icon-erkap:before {
  content: "\e92e";
}
.icon-esjrz:before {
  content: "\e92f";
}
.icon-esygh:before {
  content: "\e930";
}
.icon-esycp:before {
  content: "\e931";
}
.icon-esjzd:before {
  content: "\e932";
}
.icon-exkbb:before {
  content: "\e933";
}
.icon-exkfb:before {
  content: "\e934";
}
.icon-exkgl:before {
  content: "\e935";
}
.icon-exksh:before {
  content: "\e936";
}
.icon-exktj:before {
  content: "\e937";
}
.icon-exxkccs:before {
  content: "\e938";
}
.icon-exxkcfq:before {
  content: "\e939";
}
.icon-exxkcgl:before {
  content: "\e93a";
}
.icon-exkjyz:before {
  content: "\e93b";
}
.icon-exsxbxk:before {
  content: "\e93c";
}
.icon-exsxx:before {
  content: "\e93d";
}
.icon-exsxk:before {
  content: "\e93e";
}
.icon-exsxkk:before {
  content: "\e93f";
}
.icon-exsxkqk:before {
  content: "\e940";
}
.icon-exsxksh:before {
  content: "\e941";
}
.icon-exszs:before {
  content: "\e942";
}
.icon-eyhxx:before {
  content: "\e943";
}
.icon-eyxhz:before {
  content: "\e944";
}
.icon-eyxhd:before {
  content: "\e945";
}
.icon-ezshd:before {
  content: "\e946";
}
.icon-ezsjg:before {
  content: "\e947";
}
.icon-ezstj:before {
  content: "\e948";
}
.icon-eznpk:before {
  content: "\e949";
}
.icon-ezypg:before {
  content: "\e94a";
}
.icon-eShipWeb:before {
  content: "\e94b";
}
.icon-ezzjg:before {
  content: "\e94c";
}
.icon-ezxsj:before {
  content: "\e94d";
}
