
@{
    ViewData["Title"] = "Index";
    Layout = null;
}
<script src="~/layui/layui.js"></script>
<link href="~/layui/css/layui.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<style>
    .layui-form-select dl {
        max-height: 200px;
    }
</style>
<script type="text/javascript">
    layui.use(['table', 'form'], function () {
        var $ = layui.$;
        var table = layui.table;
        var form = layui.form;
        var DISABLED = 'layui-btn-disabled';
        var tableIns = table.render({
            elem: '#algoTable',
            url: '/Algorithm/Load',
            defaultToolbar: [],
            cols: [[
                { type: 'numbers', title: "序号", width: 100 },
                {
                    field: 'type', title: "算法类型",  templet: function (e) {
                        if (e.type == 1) return "安全帽";
                        else if (e.type == 2) return "打电话";
                        else if (e.type == 3) return "睡觉";
                        else if (e.type == 4) return "打架";
                        else if (e.type == 5) return "考勤入";
                        else if (e.type == 6) return "考勤出";
                    }
                },
                { field: 'nickName', title: "摄像机名称" },
                { field: 'gpu', title: "GPU" },
                { field: 'dectectFirst', title: "检测阀值1" },
                { field: 'dectectSecond', title: "检测阀值2" },
                {
                    field: 'track', title: "跟踪阀值", templet: function (e) {
                        return e.track == 0 ? "" : e.track;
                    }
                },
                {
                    field: 'similar', title: '人脸相似度', templet: function (e) {
                        return e.similar == 0 ? "" : e.similar;
                    }
                },
                { fiexd: 'right', title: '操作', toolbar: '#userBar', width: 200, algin: 'center' }
            ]],
            done: function (res) {
                if (res.code == 0) {
                    var camera = res.camera;
                    var html ='<option value = ""> 请选择</option>';
                    for (var i = 0; i < camera.length; i++) {
                        html += '<option value="' + camera[i].id + '">' + camera[i].nickName + '</option>'
                    }
                    $("#slCamera").html(html);                  
                }
                form.render();
            }
        })
        $("#btnAdd").click(function(){
            layer.open({
                type: 1,
                title: '新增算法',
                content: $("#divSaveOrUpdate"),
                area: ["660px", "380px"],
                success: function () {
                    $("#btnSubmit").removeAttr('disabled').removeClass(DISABLED);
                    $("#dataFrm")[0].reset();
                    $("#hidId").val("");
                    $("#selType").val("");
                    $("#slCamera").val("");
                    $("#slgpu").val("");
                    form.render();
                    SetCSS(1);
                }
            });
        });
        table.on("tool(algoTable)", function (obj) {
            var data = obj.data;
            if (obj.event == "edit") {
                layer.open({
                    type: 1,
                    title: '修改算法',
                    content: $("#divSaveOrUpdate"),
                    area: ["660px", "380px"],
                    success: function (res) {
                        SetCSS(data.type);
                        $("#hidId").val(data.id);
                        $("#selType").val(data.type);
                        $("#slCamera").val(data.cid);
                        $("#txtThreshold_1").val(data.dectectFirst);
                        $("#txtThreshold_2").val(data.dectectSecond);
                        $("#txtTrack").val(data.track == 0 ? "" : data.track);
                        $("#txtSimilar").val(data.similar == 0 ? "" : data.similar);
                        $("#slgpu").val(data.gpu);
                    }
                })
                form.render();
            } else if (obj.event == "del") {
                layer.confirm("是否确认删除？", {
                    icon: 3,
                    btn: ["确定", "取消"],
                    btnAlign: 'c', //按钮居中
                    yes: function (index) {
                        obj.del();
                        layer.close(index);
                        $.ajax({
                            url: "/Algorithm/Delete",
                            type: "get",
                            dataType: "json",
                            data: { id: data.id },
                            contentType: "application/json;chartset=utf-8",
                            success: function (res) {
                                if (res.code == 1) {
                                    layer.msg(res.msg, { icon: 2 });
                                } else {
                                    layer.msg("删除成功", { icon: 1 });
                                    tableIns.reload();
                                }
                            }
                        });
                    }
                });   
            }
        });
        //保存
        form.on("submit(doSubmit)", function (frm) {           
            $('#btnSubmit').attr('disabled', 'disabled').addClass(DISABLED);
            var data = {
                id: frm.field.id,
                type: parseInt(frm.field.type),
                cid: frm.field.camera,
                gpu: frm.field.gpu,
                similar: frm.field.similar == "" ? 0 : parseFloat(frm.field.similar),
                dectectFirst: parseFloat(frm.field.dectectFirst),
                dectectSecond: frm.field.dectectSecond == "" ? 0 :parseFloat(frm.field.dectectSecond),
                track: frm.field.track == "" ? 0 : parseFloat(frm.field.track)
            };
            $.ajax({
                url: "/Algorithm/Save",
                data: {
                    model: JSON.stringify(data)
                },
                type: "get",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: function (res) {
                    if (res.code == 0) {
                        layer.msg("保存成功", { icon: 1 });
                        tableIns.reload();
                        layer.closeAll();
                    } else {
                        layer.msg(res.msg, { icon: 2 });
                    }
                    $("#btnSubmit").removeAttr('disabled').removeClass(DISABLED);
                }
            });
            return false;
        });
        form.on("select(type)", function (obj) {
            SetCSS(obj.value);
        })
        $("#txtReset").click(function () {
            $("#dataFrm")[0].reset();
            $("#hidId").val("");
            $("#selType").val("");
            $("#slCamera").val("");
            $("#slgpu").val("");
            form.render();
            SetCSS(1);
        });
        //自定义验证规则
        form.verify({
            similar: function (value) {
                var reg = /^0\.(0([1-9])|([1-9]\d)|([1-9]))$/;
                var type = $("#selType").val();
                if (type == 5 || type == 6) {
                    if (!new RegExp(reg).test(value)) {
                        return "人脸相似度只能转入0-1之间的小数，如0.99";
                    }
                }
            },
            threshold: function (value) {
                var reg = /^0\.(0([1-9])|([1-9]\d)|([1-9]))$/;
                if (!new RegExp(reg).test(value)) {
                    return "阀值的取值范围是0-1，如0.99";
                }
            },
            threshold2: function (value) {
                var type = $("#selType").val();
                var reg = /^0\.(0([1-9])|([1-9]\d)|([1-9]))$/;
                if (!new RegExp(reg).test(value) && type == 2) {
                    return "阀值的取值范围是0-1，如0.99";
                }
            }
        });
        function SetCSS(value) {
            if ($("#selType").val() != "") {
                $("#txtThreshold_1").val("0.5");
                $("#txtTrack").val("0.5");
            }
            //人脸相似度是否可填
            if (value == 5 || value == 6) {
                $("#txtSimilar").removeAttr("disabled").css("background-color", "");
                $("#txtThreshold_2").attr("disabled", "disabled").css("background-color", "#EEEEEE");
                $("#txtThreshold_2").val("");
            }//打电话时跟踪阀值可设置
            else if (value == 2) {
                $("#txtThreshold_2").removeAttr("disabled").css("background-color", "");
                $("#txtThreshold_2").val(0.5);
                $("#txtSimilar").attr("disabled", "disabled").css("background-color", "#EEEEEE");
                $("#txtSimilar").val("");
            }
            else {             
                //人脸不可设置
                $("#txtSimilar").attr("disabled", "disabled").css("background-color", "#EEEEEE");
                $("#txtSimilar").val("");

                $("#txtThreshold_2").attr("disabled", "disabled").css("background-color", "#EEEEEE");
                $("#txtThreshold_2").val("");
            }
        }

    });
</script>
<style>
    button {
        width: 150px;
        height: 40px;
    }
</style>
<div >
    <div style="margin-left:30px;margin-top:30px;width:98%">
        <label style="font-family:STZhongsong;font-weight:bold;width:300px;font:normal;font-size:28px;">算法配置</label>
        <form class="layui-form" action="" id="serachFrm" lay-filter="serachFrm" style="margin-top:30px;margin-bottom:30px">
            @if (ViewBag.IsSet)
            {
                <button type="button" class="layui-btn" style="width:126px;height:40px" id="btnAdd">新增算法</button>
            }
        </form>
        <table class="layui-hide" id="algoTable" lay-filter="algoTable"></table>
        @if (ViewBag.IsSet)
        {
            <div style="display:none" id="userBar">
                <a style="color:#2F6BFF" lay-event="edit">编辑</a>
                <a style="color:#8C8C8C;margin-left:50px" lay-event="del">删除</a>
            </div>

        }
    </div>
    
</div>
<div style="display:none" id="divSaveOrUpdate">
    <form class="layui-form" id="dataFrm" layer-filter="dataFrm" action="">
        <input name="id" id="hidId" type="hidden" class="layui-input" />
        <div class="layui-form-item" style="margin-top:20px">
            <div class="layui-inline">
                <label class="layui-form-label">算法类型：</label>
                <div class="layui-input-inline">
                    <select name="type" id="selType" lay-verify="required" lay-filter="type">
                        <option value="">请选择</option>
                        <option value="1" selected="selected">安全帽</option>
                        <option value="2">打电话</option>
                        <option value="3">睡觉</option>
                        <option value="4">打架</option>
                        <option value="5">考勤入</option>
                        <option value="6">考勤出</option>
                    </select>
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">摄像机：</label>
                <div class="layui-input-inline">
                    <select name="camera" id="slCamera" class="layui-input" lay-verify="required">
                        <option value="">请选择</option>
                    </select>
                </div>
            </div>

        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">检测阀值1</label>
                <div class="layui-input-inline">
                    <input type="text" name="dectectFirst" id="txtThreshold_1" lay-verify="threshold" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">GPU</label>
                <div class="layui-input-inline">
                    <select name="gpu" id="slgpu" lay-verify="required">
                        <option value="">请选择</option>
                        <option value="0">0</option>
                        <option value="1">1</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">检测阀值2</label>
                <div class="layui-input-inline">
                    <input type="text" name="dectectSecond" id="txtThreshold_2" lay-verify="threshold2" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">跟踪阀值</label>
                <div class="layui-input-inline">
                    <input type="text" name="track" id="txtTrack" lay-verify="threshold" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div> 
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">相似度</label>
                <div class="layui-input-inline">
                    <input type="text" name="similar" id="txtSimilar" lay-verify="similar" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item" style="text-align:center;margin-top:30px">
            <div class="layui-input-block"  style="margin:0 auto">
                <button type="submit" id="btnSubmit" class="layui-btn" lay-filter="doSubmit" lay-submit="">提交</button>
                <button type="button" id="txtReset" class="layui-btn layui-btn-warm">重置</button>
            </div>
        </div>
    </form>
</div>